/*主页面的最外框*/
.layui-layer-iframe{overflow: hidden !important;}
.layui-layer-btn .layui-layer-btn0{background: #399bf5 !important;border: 1px solid #dedede !important;}
.layui-layer-title{font-family: 微软雅黑;}
.progress-box{width: 100%;height: 100%;position: fixed;top: 0;left: 0;background: rgba(0,0,0,0.45);z-index: 1000;}
.layui-progress{width: 300px;padding:0px 10px;height:52px;background-color:#f8f8f8;border:1px solid #e1e1e1;border-radius:3px !important;position: absolute;top: 0;left: 0;right: 0;bottom: 0;margin: auto auto;}
.layui-progress .layui-progress-bar{position: absolute;left: 0px;top: 0px;bottom: 0px;margin: auto auto;}
.layui-form{background-color: #fff;}
.slider-box{width: 100%;margin: 10px auto;}
.slider-title-box{width: 100%;height: 32px;font:12px 微软雅黑;color: #333;}
.slider-box .slider{width: 96%;margin:0px auto;}
.full-box{width: 100%;height: 100%;position: absolute;top: 0;left: 0;}
.kjy-box{width: 100%;background-color:#fff;overflow: hidden;}
.kjy-flex-box{height:100%;overflow-y: auto;position: absolute;top: 0;left: 0;display:flex;display:-webkit-box;display:-webkit-flex;display:-moz-box;display:-ms-flexbox;-webkit-flex-direction: column;-moz-flex-direction: column;-ms-flex-direction: column;-o-flex-direction: column;flex-direction: column;}
[v-cloak]{display:none}
.btn-box,.kjy-data-box,.kjy-table,.page-box,.prompt-box{margin: 10px auto;}
.kjy-flex-box .btn-box,.kjy-flex-box .prompt-box{margin:10px auto 0px;}
.kjy-flex-box .page-box{margin:0px auto 10px;}
.no-data-box{height: 320px;}
.kjy-flex-box .no-data-box{height: 100%;}

/*选择小区页面*/
.select-community-box{width: 100%;height: 100%;background: url(http://img.guostory.com/select-community-bg.png) center center no-repeat;background-size: auto 100%;position: absolute;top: 0px;left: 0px;}
.select-community-inner-box{width: 800px;height: 402px;position: absolute;top: 0;left: 0;right: 0;bottom: 0;margin: auto auto;}
.select-community-title{width: 100%;height:96px;font: 36px/36px 微软雅黑;text-align:center;color: #fff;}
.select-community-sreach-box{width: 100%;height: 48px;position: relative;}
.select-community-sreach-input-box{width: 100%;height: 100%;}
.select-community-sreach-input-box input{width: 798px;height: 46px;border: 1px solid rgba(255,255,255,0.45);border-radius:24px;outline: none;background:none;font:12px/46px 微软雅黑;color:#fff;text-indent: 30px;}
.select-community-sreach-input-box input:focus{border: none;box-shadow: 0px 0px 8px 0px #fff;-webkit-box-shadow: 0px 0px 8px 0px #fff;-moz-box-shadow: 0px 3px 8px 0px rgba(13, 134, 247, 0.5);-ms-box-shadow: 0px 3px 8px 0px rgba(13, 134, 247, 0.5);-o-box-shadow: 0px 3px 8px 0px rgba(13, 134, 247, 0.5);}
.select-community-sreach-btn{cursor:pointer;width: 24px;height: 24px;background: url(../img/icon/icon-select-community-sreach.png) center center no-repeat;background-size:100% 100%;position: absolute;top: 0;bottom: 0;right: 50px;margin: auto auto;}
.community-number{width: 100%;margin: 30px auto 70px;font: 12px/12px 微软雅黑;color: #fff;text-align:right;}
.community-no-data-box{width: 100%;height:50px;font: 16px/50px 微软雅黑;color: #fff;text-align: center;}
.community-list-box{width: 660px;overflow:hidden;padding:0px 70px;position: relative;}
.community-list-inner-box{width: 100%;overflow: hidden;position: relative;}
.community-list{cursor:pointer;width: 68px;margin-right:80px;overflow:hidden;float: left;}
.community-list:last-child{margin-right: 0px;}
.community-list .img-box{width: 68px;height: 76px;background-image: url(../img/common/disabled-community.png);background-position: center center;background-repeat: no-repeat;background-size: 100% 100%;}
.community-list .img-box:hover{background-image: url(../img/common/community.png);}
.community-name{width: 100%;margin-top:18px;font:12px 微软雅黑;color:#fff;text-align: center;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}
.community-list-box .icon{cursor:pointer;width: 24px;padding-left:0px;height: 24px;background-position:center center;background-size: 100% 100%;position: absolute;top: 0;bottom: 0;margin: auto auto;}
.community-list-box .icon-left{left: 0;}
.community-list-box .icon-right{right: 0;}
.community-list-box .pagination-box{margin-top: 48px;}

/*翻页点*/
.pagination-box{width: 100%;height:8px;overflow:hidden;position: relative;}
.pagination-inner-box{width: auto;overflow:hidden;position: absolute;top: 0;left: 50%;transform: translateX(-50%);-webkit-transform: translateX(-50%);-moz-transform: translateX(-50%);-o-transform: translateX(-50%);-ms-transform: translateX(-50%);}
.pagination-box li{cursor:pointer;width: 8px;height: 8px;margin-right:20px;border-radius:50%;float: left;background-color: rgba(255,255,255,0.6);}
.pagination-box li:last-child{margin-right: 0px;}
.pagination-box .selected{width: 16px;border-radius: 4px;background-color: #fff;}

/*首页*/
.index{width: 100%;overflow:hidden;}
.index-bg{width: 100%;height: 100%;background: url(http://img.guostory.com/login-bg.png) no-repeat;background-size:100% 100%;position: absolute;top: 0px;left: 0px;}
.index-bg .title{width: 100%;height: 100px;font: 38px/100px 微软雅黑;letter-spacing:6px;color: #fff;text-align: center;}

/*统计*/
.chart-box{width: auto;padding:10px;background-color:#f5f6f8;overflow: hidden;}
.chart-list-box{width:auto;float: left;}
.chart-list-width-30{width: 30%;}
.chart-list-width-40{width: 40%;}
.chart-list-width-60{width: 60%;}
.chart-list-width-50{width: 50%;}
.chart-list-width-100{width: 100%;}
.chart-list-inner-box{width: auto;margin:10px;padding:20px;border-radius:6px;background-color:#fff;box-shadow: 0px 0px 10px 1px #e1e1e1;-webkit-box-shadow: 0px 0px 10px 1px #e1e1e1;-moz-box-shadow: 0px 0px 10px 1px #e1e1e1;-ms-box-shadow: 0px 0px 10px 1px #e1e1e1;-o-box-shadow: 0px 0px 10px 1px #e1e1e1;}
.chart-list-person .chart-list-inner-box{background-color:#60b8f6;}
.chart-list-person .chart-list-content-box{box-shadow: 0px 25px 15px 0px #60b8f6;-webkit-box-shadow: 0px 25px 15px 0px #60b8f6;-moz-box-shadow: 0px 25px 15px 0px #60b8f6;-ms-box-shadow: 0px 25px 15px 0px #60b8f6;-o-box-shadow: 0px 25px 15px 0px #60b8f6;}
.chart-list-fee-today .chart-list-inner-box{background-color: #fe787a;}
.chart-list-fee-today .chart-list-content-box{box-shadow: 0px 25px 15px 0px #fe787a;-webkit-box-shadow: 0px 25px 15px 0px #fe787a;-moz-box-shadow: 0px 25px 15px 0px #fe787a;-ms-box-shadow: 0px 25px 15px 0px #fe787a;-o-box-shadow: 0px 25px 15px 0px #fe787a;}
.chart-list-task .chart-list-inner-box{background-color: #fbbb6e;}
.chart-list-task .chart-list-content-box{box-shadow: 0px 25px 15px 0px #fbbb6e;-webkit-box-shadow: 0px 25px 15px 0px #fbbb6e;-moz-box-shadow: 0px 25px 15px 0px #fbbb6e;-ms-box-shadow: 0px 25px 15px 0px #fbbb6e;-o-box-shadow: 0px 25px 15px 0px #fbbb6e;}
.chart-list-title-box{width: 100%;position: relative;}
.chart-list-title-text{width: auto;max-width: 300px;font: 16px/16px 微软雅黑;color: #333;overflow: hidden;text-overflow:ellipsis;white-space: nowrap;}
.chart-list-person .chart-list-title-text,.chart-list-fee-today .chart-list-title-text,.chart-list-task .chart-list-title-text{color: #fff;}
.chart-list-title-box .opera-box{width: auto;height: 22px;position: absolute;top: 0;bottom: 0;right: 0px;margin: auto auto;}
.chart-list-title-box .opera-box select{display:block;width:80px;float:left;height: 100%;border: 1px solid #e1e1e1;border-radius:3px;font: 12px/22px 微软雅黑;color: #333;text-indent: 10px;}
.chart-list-title-box .opera-box .big{width: 160px;}
.chart-list-content-box{width: auto;margin-top:20px;overflow:hidden;position: relative;}
.chart-list-content-box ul{width: 100%;overflow: hidden;}
.chart-list-content-box li{float:left;overflow: hidden;color: #333;}
.chart-list-person li,.chart-list-fee-today li,.chart-list-task li{color: #fff;}
.chart-list-person .chart-list-name,.chart-list-fee-today .chart-list-name,.chart-list-task .chart-list-name{color: rgba(255,255,255,0.8);}
.chart-list-content-tow-row-box li{width: 50%;}
.chart-list-content-one-row-box li{width: 25%;}
.chart-list-content-box .chart-list-name,.chart-list-content-box .chart-list-value{font: 12px/22px 微软雅黑;}
.chart-list-content-box .chart-list-value{font-size: 14px;font-weight: bold;}
.chart-list-content-box .chart-list-value span{font-size: 10px;}
.chart-list-content-tow-row-box .chart-list-name,.chart-list-content-tow-row-box .chart-list-value{width: auto;float: left;}
.chart-list-content-one-row-box .chart-list-name,.chart-list-content-one-row-box .chart-list-value{width: 100%;}
.chart-list-canvas-box{width: 100%;min-height: 300px;}
.full-box .chart-list-canvas-box{width: 100%;height: 100%;min-height: auto;}
.chart-list-tab-box{width: 100%;margin:0px auto;margin:0px auto;padding-bottom:20px;border-bottom: .5px solid #e1e1e1;}
.chart-list-tab-box li{cursor:pointer;height: 100%;float: left;font: 14px/14px 微软雅黑;text-align:center;color: #359df5;}
.chart-list-dynamic-tab-box li{width: 33.33%;}
.chart-list-content{width: 100%;overflow: hidden;position: relative;}
.chart-list-content-position-box{width: 100%;overflow: hidden;position: absolute;top: 0;left: 0;}
.chart-list-content-dynamic-box{height:267px;}
.chart-list-content li{width: 100%;height: 40px;font:12px/40px 微软雅黑;color: #333;}
.chart-list-content li div{width: 33.33%;height: 100%;float: left;text-align:center;overflow: hidden;text-overflow:ellipsis;white-space: nowrap;}

/*页面提示*/
.prompt-box{width:98%;}
.prompt-text{width: 100%;overflow:hidden;font: 12px/22px 微软雅黑;color: #c10000;}

/*页面margin*/
.margin-top-small{margin-top: 10px !important;}
.no-margin{margin: 0px !important;}

/*内容区*/
.kjy-title-box{width:100%;background:#f8f8f8;border-bottom:1px solid #e1e1e1;position: relative;}
.kjy-title-text{width: 100%;overflow: hidden;font:bold 16px/40px 微软雅黑;color: #333;text-indent: 20px;}
.kjy-title-box .close{cursor:pointer;width: 56px;height: 100%;background-color:#f8f8f8;background-image: url(../img/common/close-mask.png);background-repeat: no-repeat;background-position:center center;background-size: 16px 16px;position: absolute;top: 0;bottom: 0;right: 0px;}

/*规格分类*/
.fold-box{width: 98%;overflow: hidden;margin: 10px auto;border: 1px solid #e1e1e1;position: relative;}
.fold-list-box{width: 100%;overflow: hidden;}
.fold-con-box{width: 98%;overflow: hidden;margin: 0px auto;}
.fold-con-box li{width: auto;height:22px;margin:0px 10px 10px 0px;float: left;border: 1px solid #e1e1e1;}
.fold-con-box .text{width: auto;height:100%;padding:0px 10px;float: left;font: 12px/22px 微软雅黑;color: #333;}
.fold-con-box .close{cursor:pointer;width: 20px;height: 100%;float:left;background-color:#f8f8f8;background-image: url(../img/common/close-mask.png);background-repeat: no-repeat;background-position:center center;background-size: 10px 10px;}

/*搜索部分*/
.search-box{width: 100%;background-color:#fff;box-shadow: 0px 0px 3px 1px #e1e1e1;-webkit-box-shadow: 0px 0px 3px 1px #e1e1e1;-moz-box-shadow: 0px 0px 3px 1px #e1e1e1;-ms-box-shadow: 0px 0px 3px 1px #e1e1e1;-o-box-shadow: 0px 0px 3px 1px #e1e1e1;}
.search-inner-box{width: 100%;overflow: hidden;}
.search-text{width: 100%;overflow: hidden;padding-top: 10px;}
.search-time{width: 100%;overflow: hidden;border-top: 1px dashed #e1e1e1;padding-top: 10px;}
.search-text .search{width: 25%;height: 22px;float: left;margin-bottom: 10px;overflow: hidden;}
.main-mask .search{width: 50%;}
.search .search-name{width: 30%;float:left;height: 100%;font:bold 12px/22px 微软雅黑;color: #333;text-align: right;}
.search .search-value{width: 65%;margin-right:2%;float:right;height: 100%;}
.search-time .search{width:33.33%;height:24px;overflow: hidden;float: left;margin-bottom: 10px;}
.search-time .search-name{width:22.5%;height: 100%;font:bold 12px/24px 微软雅黑;color:#181818;text-align: right;float: left;}
.search-time .search-value-box{width:75.5%;height: 100%;float: right;overflow: hidden;}
.search-time .search-value-box .search-value{width: 45%;height: 100%;float: left;overflow: hidden;margin-right: 0px;}
.search-time .search-value-box .time-cut{width: 10%;height: 100%;float: left;overflow: hidden;font: 12px/24px 微软雅黑;color:#181818;text-align: center;}
.search .search-value input{width:96%;height: 20px;border: 1px solid #e1e1e1;border-radius:3px;font: 12px/22px 微软雅黑;color: #333;text-indent: 10px;}
.search-time .search-value-box .search-value input{width: 97%;}
.search .search-value select{width:96%;height: 22px;border: 1px solid #e1e1e1;border-radius:3px;font: 12px/22px 微软雅黑;color: #333;text-indent: 10px;}
.search .search-value input:focus,.search .search-value select:focus{border:0.5px solid #399bf5;}
.no-border{border: none;}

/*搜索按钮区域*/
.btn-box{width: 100%;}
.btn-inner-box{width: 98%;margin:0px auto;overflow: hidden;}
.btn{cursor:pointer;padding: 0px 10px;font: 12px/22px 微软雅黑;color: #fff;border-radius:3px;border:1px solid #e1e1e1;background-color: #399bf5;float: left;margin-right: 10px;}
.btn:last-child{margin-right:0px;}
.disbtn{cursor:pointer;padding: 0px 10px;font: 12px/22px 微软雅黑;color: #333;border-radius:3px;border:1px solid #e1e1e1;background-color: #ccc;float: left;margin-right: 10px;}
.btn a{font: 12px/22px 微软雅黑;color: #fff;}
.btn-box .btn:last-child{margin-right: 0px;}
.search-btn-box .btn:last-child{margin: 0px;}
.btn-value{width: auto;height: 100%;float: left;margin-right:10px;overflow: hidden;}
.btn-value input{width:198px;height: 22px;border: 1px solid #e1e1e1;border-radius:3px;font: 12px/22px 微软雅黑;color: #333;text-indent: 10px;}
.btn-value input:focus{border:0.5px solid #399bf5;}

/*图标*/
.icon{padding-left: 26px;background-repeat: no-repeat;background-position: 5px center;background-size: 16px auto;}
.icon-reload{background-image: url(../img/icon/icon-reload.png);}
.icon-search{background-image: url(../img/icon/icon-search.png);}
.icon-add{background-image: url(../img/icon/icon-add.png);}
.icon-del{background-image: url(../img/icon/icon-del.png);}
.icon-edit{background-image: url(../img/icon/icon-edit.png);}
.icon-save{background-image: url(../img/icon/icon-save.png);}
.icon-export{background-image: url(../img/icon/icon-export.png);}
.icon-print{background-image: url(../img/icon/icon-print.png);}
.icon-privillege{background-image: url(../img/icon/icon-privillege.png);}
.icon-see{background-image: url(../img/icon/icon-see.png);}
.icon-stick{background-image: url(../img/icon/icon-stick.png);}
.icon-shield{background-image: url(../img/icon/icon-shield.png);}
.icon-import{background-image: url(../img/icon/icon-import.png);}
.icon-select{background-image: url(../img/icon/icon-select.png);}
.icon-white-statistics{background-image: url(../img/icon/icon-white-statistics.png);}
.icon-comment{background-image: url(../img/icon/icon-comment.png);}
.icon-details{background-image: url(../img/icon/icon-details.png);}
.icon-log{background-image: url(../img/icon/icon-log.png);}
.icon-publish{background-image: url(../img/icon/icon-publish.png);}
.icon-upload-img{background-image: url(../img/icon/icon-upload-img.png);}
.icon-upload-file{background-image: url(../img/icon/icon-upload-file.png);}
.icon-video{background-image: url(../img/icon/icon-video.png);}
.icon-boy{background-image: url(../img/icon/icon-boy.png);}
.icon-girl{background-image: url(../img/icon/icon-girl.png);}
.icon-card{background-image: url(../img/icon/icon-card.png);}
.icon-playback{background-image: url(../img/icon/icon-playback.png);}
.icon-img{background-image: url(../img/icon/icon-img.png);}
.icon-speed-dome-cameras{background-image: url(../img/icon/icon-speed-dome-cameras.png);}
.icon-speed-dome-cameras{background-image: url(../img/icon/icon-speed-dome-cameras.png);}
.icon-playback{background-image: url(../img/icon/icon-playback.png);}
.icon-focus{background-image: url(../img/icon/icon-focus.png);}
.icon-linkage{background-image: url(../img/icon/icon-linkage.png);}
.icon-start-record{background-image: url(../img/icon/icon-start-record.png);}
.icon-stop-record{background-image: url(../img/icon/icon-stop-record.png);}
.icon-cloud{background-image: url(../img/icon/icon-cloud.png);}
.icon-download{background-image: url(../img/icon/icon-download.png);}
.icon-narrow{background-image: url(../img/icon/icon-narrow.png);}
.icon-enlarge{background-image: url(../img/icon/icon-enlarge.png);}
.icon-direction-top{background-image: url(../img/icon/icon-direction-top.png);}
.icon-direction-left{background-image: url(../img/icon/icon-direction-left.png);}
.icon-direction-bottom{background-image: url(../img/icon/icon-direction-bottom.png);}
.icon-direction-right{background-image: url(../img/icon/icon-direction-right.png);}
.icon-truck{background-image: url(../img/icon/icon-truck.png);}
.icon-left{background-image: url(../img/icon/icon-left.png);}
.icon-disabled-left{background-image: url(../img/icon/icon-disabled-left.png);}
.icon-right{background-image: url(../img/icon/icon-right.png);}
.icon-disabled-right{background-image: url(../img/icon/icon-disabled-right.png);}

/*表格,数据区域*/
.kjy-table,.kjy-data-box{width: 98%;overflow-x:auto;overflow-y:auto;border: 1px solid #e1e1e1;border-radius:3px;background-color: #fff;position: relative;}
.kjy-table table{width: auto;min-width:100%;border-collapse:initial;}
.kjy-table table thead,.kjy-table table tbody{width: 100%;height: 22px;overflow: hidden;position: relative;}
.kjy-table table tbody tr{cursor: pointer;}
.kjy-table table tbody tr:nth-child(odd){background-color: #fff;}
.kjy-table table tbody tr:nth-child(even){background-color: #f8f8f8;}
.kjy-table table .no-check{cursor:pointer;width: 10px;height: 10px;background-color:#fff;background-repeat:no-repeat;background-position:center center;background-size:100% 100%;position: absolute;top: 0;bottom:0;left: 5px;margin:auto auto;border: 1px solid #e1e1e1;border-radius: 3px;}
.kjy-table table .checked{background-image: url(../img/common/check.png);}
.kjy-table table th,.kjy-table table td{width: auto;min-width:100px;max-width:200px;height: 22px;padding:10px;font: 12px/22px 微软雅黑;border-right:0.5px solid #e1e1e1;border-bottom:0.5px solid #e1e1e1;color: #333;text-align: left;word-wrap:break-word;position: relative;}
.kjy-table table th:first-child,.kjy-table table td:first-child{min-width:30px;}
.kjy-table table th{font-weight: bold;}
.kjy-table table tr th:last-child,.kjy-table table tr td:last-child{border-right: none;}
.kjy-table table input,.kjy-table table select,.kjy-table table textarea{width: 100%;height: 22px;border: 1px solid #e1e1e1;border-radius: 3px;font: 12px/22px 微软雅黑;color: #333;text-indent: 10px;}
.kjy-table table textarea{height: 40px;}
.kjy-table table input:focus,.kjy-table table select:focus,.kjy-table table textarea:focus{border: 0.5px solid #399bf5;}
.kjy-table table td .btn{clear:both;margin-bottom:10px;margin-right: 0px;}
.kjy-table table td .btn:last-child{margin-bottom:0px;margin-right: 0px;}
.kjy-table .padding20{padding-left: 20px;}
.head-img{width: 40px;height: 40px;border-radius: 3px;overflow: hidden;}
.rule-img{width: 100px;overflow: hidden;}
.kjy-table table .rule-img .btn{margin-top: 10px;margin-bottom: 0px;}
.head-img img{width: 100%;height: 100%;}
.rule-img img{display: block;width: 100%;height: 100px;border-radius: 3px;}
.dateList{width: 200px;overflow: hidden;}
.dateList li{width: auto;padding: 0px 10px;margin:0px 3px 3px 0px;float: left;border: 1px solid #e1e1e1;border-radius: 3px;font: 12px/22px 微软雅黑;color: #333;text-align: center;}
.radio-no-check{cursor:pointer;width: 10px;height: 10px;background: url(../img/common/radio-no-check.png) no-repeat;background-size: 100% 100%;position: absolute;top: 0;bottom:0;left: 5px;margin: auto auto;}
.radio-checked{background-image: url(../img/common/radio-checked.png);}
.people-list{width: auto;float:left;padding-left:26px;margin-right:10px;height: 22px;font: 12px/22px 微软雅黑;color: #333;background-repeat: no-repeat;background-position:0px center;background-size:16px auto;}
.people-list:last-child{margin-right: 0px;}
.download-scan-code-box{width: 100px;height: 100px;}
.download-scan-code-box a{display:block;width: 100%;height: 100%;}

/*标记*/
.marker{cursor:pointer;width: 20px;height: 20px;border-radius: 50%;position: absolute;background-repeat: no-repeat;background-position: center center;background-size: auto 100%;}
.marker-video-surveillance{background-color: rgba(0,122,255,0.65);border: 1px solid #666;}
.marker-video-surveillance-disabled{background-color: rgba(102,102,102,0.65);}

/*图片视频框*/
.video-box,.img-box{width: auto;height:100%;overflow:auto;position:relative;margin:0px auto;border-radius:3px;}
.video-box video{width: 100%;height: 90%;position: absolute;top: 0;left: 0;right: 0;bottom: 0;margin: auto auto;}
.img-box img{display:block;width: 100%;height: auto;}
.video-box iframe{border: none;outline: none;}
.video-direction-box{width: 90px;overflow:hiauto;border-radius:3px;background-color: rgba(0,0,0,0.6);position: absolute;bottom: 0;right: 0;}
.video-direction-box li{cursor:pointer;width: 30px;height: 30px;float:left;background-repeat: no-repeat;background-position: center center;background-size: 16px 16px;}

/*操作菜单框*/
.opera-main-box,.matrix-box{width: auto;padding: 5px;overflow: hidden;background-color: #fff;}
.opera-main-list-box,.matrix-list-box{width:auto;float:left;}
.opera-main-list-inner-box,.matrix-list-inner-box{width: auto;min-height: 500px;overflow:auto;margin:5px;padding:10px;border-radius: 3px;position:relative;box-shadow: 0px 0px 10px 1px #e1e1e1;-webkit-box-shadow: 0px 0px 10px 1px #e1e1e1;-moz-box-shadow: 0px 0px 10px 1px #e1e1e1;-ms-box-shadow: 0px 0px 10px 1px #e1e1e1;-o-box-shadow: 0px 0px 10px 1px #e1e1e1;}
.matrix-list-inner-box{min-height: auto;}
.opera-main-left-box{width: 30%;}
.opera-main-right-box{width: 70%;}
.opera-main-nav-box,.opera-main-content-box{width: 100%;overflow: hidden;position: relative;}
.opera-main-content-box{min-height: 500px;}
.opera-main-nav-box li{cursor:pointer;width: auto;height:22px;position: relative;background-repeat: no-repeat;background-size: 16px auto;}
.opera-main-nav-text-box{width: 100%;height: 100%;font:12px/22px 微软雅黑;color:#333;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}
.opera-main-nav-box .icon{width:16px;height:100%;padding:0px;background-position: 0px center;}
.opera-main-box .icon-right{position: absolute;top: 0;bottom: 0;right: 0;margin: auto auto;}
.opera-video-box{width: 100%;background-color:rgba(0,0,0,0.6);overflow: hidden;position: absolute;top: 0;right: 0;}
.opera-video-box li{cursor:pointer;width: 26px;height: 22px;float: right;background-repeat: no-repeat;background-position: center center;background-size: 16px auto;}
.opera-main-nav-box .selected{font-size:12px;font-weight: bold;}

/*矩阵*/
.surveillance-matrix-box .matrix-list-box{width: 33.33%;}
.door-master-matrix-box .matrix-list-box{width: 20%;}
.matrix-content-box{width: 100%;overflow: hidden;}
.matrix-content-text-box,.matrix-title-text{width: auto;color: #333;position:relative;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}
.matrix-content-text-box{margin-top:10px;font: 12px/12px 微软雅黑;}
.matrix-title-text{max-width: 80%;float:left;font-weight:bold;}
.matrix-type{width: auto;color: #c10000;float: right;}
.matrix-type-disabled{color: #999;}
.surveillance-matrix-box .video-box{height:200px;background-color: #000;}
.surveillance-matrix-box .video-box iframe{width: 300px;height: 200px;position: absolute;top: 0;left: 0;bottom: 0;right: 0;margin: auto auto;}

/*照片墙*/
.photo-wall-box{width: 100%;overflow: hidden;}
.photo-wall-box .img-box{width: 20%;float: left;}
.photo-wall-box .img-inner-box{width: auto;margin:10px;border-radius:2px;overflow: hidden;box-shadow: 0px 0px 10px 1px #e1e1e1;-webkit-box-shadow: 0px 0px 10px 1px #e1e1e1;-moz-box-shadow: 0px 0px 10px 1px #e1e1e1;-ms-box-shadow: 0px 0px 10px 1px #e1e1e1;-o-box-shadow: 0px 0px 10px 1px #e1e1e1;}

/*操作*/
.table-opera-box{width: 100px;position: relative;}
.table-opera-box .btn{margin-right: 0px;}
.table-opera-con{display:none;width: 100%;overflow: hidden;position: absolute;top: 26px;left: 0px;}
.table-opera-con ul{width: auto;overflow: hidden;border:1px solid #e1e1e1;border-radius: 3px;background-color: #333;}
.table-opera-con li{width: auto;height: 32px;font: 12px/32px 微软雅黑;color: #fff;}
.table-opera-con li:hover{background-color: #666;}

/*分页*/
.page-box{width: 100%;}
.page{width: 98%;margin:0px auto;position: relative;overflow: hidden;}
.page div{width:auto;padding:0px 10px;font:12px/22px 微软雅黑;color:#fff;border-radius:3px;border:1px solid #e1e1e1;background-color: #399bf5;float: left;margin-right:3px;cursor: pointer;}
.page .page-input input{width: 40px;height: 20px;border: 1px solid #e1e1e1;outline: none;border-radius: 3px;margin-left: 3px;margin-right: 3px;font: 14px/22px 微软雅黑;color: #333;text-align: center;}
.page .page-dir{position: absolute;top: 0;bottom:0;right: 0px;margin:auto auto;}
.page .default{background: none;color: #333;border:none;}
.page .icon{background-repeat: no-repeat;background-size: 16px auto;}
.page .icon-first-page,.page .icon-before-page{padding-left: 16px;background-position: left center;}
.page .icon-first-page{background-image: url(../img/icon/icon-first-page.png);}
.page .icon-before-page{background-image: url(../img/icon/icon-before-page.png);}
.page .icon-last-page,.page .icon-next-page{padding-right: 16px;background-image: url(../img/icon/icon-lastpage.png);background-position: right center;}
.page .icon-last-page{background-image: url(../img/icon/icon-last-page.png);}
.page .icon-next-page{background-image: url(../img/icon/icon-next-page.png);}

/*弹框*/
.main-mask{width: 100%;overflow: hidden;position: relative;}
.main-mask-bottom{padding-bottom: 45px;}
.main-mask .con{width: 100%;padding: 10px 0px;overflow: hidden;position: relative;}
.mask-list{width: auto;overflow:hidden;margin-bottom: 10px;float: left;}
.mask-list:last-child{margin-bottom: 0px;}
.mask-list .mask-list-name{width: 100px;height: 100%;font: bold 12px/22px 微软雅黑;color: #333;text-align: right;float: left;}
.mask-list .mask-list-name span{color: #c10000;}
.mask-list .mask-list-name .text{color: #333;}
.mask-list .mask-list-value{width: auto;float: left;position: relative;}
.mask-list .mask-list-value:last-child{margin-right: 0px;}
.mask-list .btn{margin-left: 10px;margin-right: 0px;}
.mask-list .img-box,.mask-list .audio-box,.mask-list .video-box{float:left;margin-right: 10px;}
.mask-list .mask-list-value .btn{margin-left: 0px;margin-top: 10px;}
.mask-list .btn-box .btn{margin-top: 0px;}
.mask-list .mask-list-value img{width: 100px;height: 100px;border-radius:3px;display: block;}
.mask-list .mask-list-value audio{width: 200px;height: 200px;border-radius:3px;display: block;}
.mask-list .mask-list-value video{width: 320px;height: 100px;border-radius:3px;display: block;}
.mask-list .mask-list-value input{width:200px;height: 20px;border: 1px solid #e1e1e1;border-radius:3px;font: 12px/22px 微软雅黑;color: #333;text-indent: 10px;}
.mask-list .mask-list-value select{width:200px;height: 22px;border: 1px solid #e1e1e1;border-radius:3px;font: 12px/22px 微软雅黑;color: #333;text-indent: 10px;}
.mask-list .mask-list-value textarea{width:200px;height: 100px;border: 1px solid #e1e1e1;border-radius:3px;font: 12px/22px 微软雅黑;color: #333;text-indent: 10px;}
.mask-list .mask-list-value input:focus,.mask-list .mask-list-value select:focus,.mask-list .mask-list-value textarea:focus{border:0.5px solid #399bf5;}
.mask-list-prompt{width: auto;min-width:100px;max-width:300px;clear:both;overflow: hidden;font: 12px/22px 微软雅黑;color: #c10000;text-align: justify;}
.mask-btn-box{width: 100%;overflow: hidden;padding: 10px 0px;border-top:1px solid #e1e1e1;background-color:#f8f8f8;position: fixed;bottom: 0;left: 0;z-index: 99;}
.mask-btn-box .btn-box{width: auto;float:left;margin:0px;position: relative;left: 50%;transform: translate(-50%);-webkit-transform: translate(-50%);-moz-transform: translate(-50%);-o-transform: translate(-50%);-ms-transform: translate(-50%);}
.mask-list .mask-list-value .num-box{width: 73px;padding-right: 26px;}
.mask-list .mask-list-value .small{width: 140px;padding-right: 26px;}
.mask-list .mask-list-value .big{width: 500px;}
.unit96{width: 26px;height: 100%;font: 12px/22px 微软雅黑;text-align:center;color: #333;position: absolute;top: 0;right: 0;left: 70px;}
.mask-list .mask-list200{width: 202px;}
.range-box{width:490px;height: 100px;padding:5px;overflow: auto;border: 1px solid #e1e1e1;border-radius: 3px;}
.range-box li{width: auto;height: 22px;padding:0px 10px;padding-right:20px;font:12px/22px 微软雅黑;color:#333;text-align:center;background-color:#fafafa;border: 1px solid #e1e1e1;border-radius: 3px;margin-right: 3px;margin-bottom: 3px;float: left;position: relative;}
.del-range{cursor:pointer;width: 10px;height: 10px;background:url(../img/common/close-mask.png) center center no-repeat;background-size:100% 100%;position: absolute;top: 0;bottom:0;right: 5px;margin:auto auto;}
.no-range-box{width: 200px;height: 22px;border: 1px solid #e1e1e1;border-radius: 3px;background-color: #f8f8f8;font:12px/22px 微软雅黑;color: #333;text-indent: 10px;}
.mask-select-list-box{width: 500px;overflow: hidden;}
.mask-select-list-box li{padding: 10px 10px 10px 26px;margin:0px 10px 10px 0px;float: left;border-radius: 3px;border: 1px solid #e1e1e1;position: relative;}
.mask-select-list-box li:last-child{margin-right: 0px;}
.mask-select-list-box .no-check{cursor:pointer;width: 10px;height: 10px;background-color:#fff;background-repeat:no-repeat;background-position:center center;background-size:100% 100%;position: absolute;top: 0;bottom:0;left: 10px;margin:auto auto;border: 1px solid #e1e1e1;border-radius: 3px;}
.mask-select-list-box .checked{background-image:url(../img/common/check.png);}
.layer-edit-box{width: 504px !important;}

/*地图模块*/
.map-box{width: 100%;height:100%;overflow: hidden;}
.main-mask .map-box{min-height: 320px;}

/*隐藏模块*/
.hide-box{display: none;}
.masklist .masklistvalue .hide-box{display: none;}

/*无数据*/
.no-data-box{width: 100%;position: relative;}
.no-data-inner-box{width:200px;height:169px;position: absolute;top: 0;left: 0;right: 0;bottom: 0;margin: auto auto;}
.no-data-box .icon{margin:0px auto;background-repeat: no-repeat;background-position: center center;background-size: 100% auto;}
.no-data-box .icon-no-data{height:137px;background-image:url(../img/common/no-data.png);}
.no-data-box .no-data-text{width: 100%;font: 12px/12px 微软雅黑;color: #999;text-align: center;margin-top: 20px;}

/*未开放*/
.no-open-box{width:100%;height: 100%;position: fixed;top: 0px;left: 0px;z-index:10;background-color:#f8f8f8;background-image:url(../img/common/no-open.png);background-repeat: no-repeat;background-position: center center;background-size: 200px auto;}

/*报错页面*/
.err{width:100%;height: 100%;position: fixed;top: 0px;left: 0px;z-index:10;background-color:#f8f8f8;z-index: 10000;}
.err-box{width: 200px;height:242px;overflow: hidden;position: absolute;top: 0;left: 0;right: 0;bottom: 0;margin: auto auto;}
.err-img{width: 100%;overflow: hidden;}
.err-img img{width: 100%;}
.err-text{width: 100%;height: 42px;font-size: 12px;font-family:微软雅黑;font-weight:bold;line-height: 42px;color: #333;text-align: center;}

/*权限列表*/
.privillege-list-box{width: 100%;margin:0px auto;overflow: hidden;}
.privillege-list-box li{padding: 10px 75px 10px 10px;margin-bottom:10px;margin-right:10px;float: left;border-radius: 3px;border: 1px solid #e1e1e1;position: relative;}
.privillege-list-box li:last-child{margin-right: 0px;}
.privillege-list-box .layui-form-switch{position: absolute;top: 0;bottom: 0;right: 10px;margin: auto auto;}

/*收据模板*/
.receipt-box{width: auto;padding: 10px;position: relative;}
.receipt-title-box{width: 100%;height: 32px;position: relative;}
.receipt-title{width: 200px;height:30px;margin:0px auto;border-bottom:2px solid #333;font: 22px 微软雅黑;color: #333;text-align: center;letter-spacing: 12px;}
.receipt-no{width: auto;font: 18px/32px 微软雅黑;color: #333;position: absolute;right: 0;top: 0;bottom: 0;margin: auto auto;}
.receipt-date{width: 100%;font: 12px/22px 微软雅黑;color: #333;text-align: right;}
.receipt-con{width: 100%;overflow: hidden;}
.receipt-list{width: auto;border:1px solid #333;border-top:none;overflow: hidden;}
.receipt-list:first-child{border-top: 1px solid #333;}
.receipt-name{width: 140px;padding:8px 10px;border-right:1px solid #333;font: 16px 微软雅黑;color: #333;float: left;}
.receipt-value{width: auto;padding:8px 10px;font: 16px 微软雅黑;color: #333;float: left;}
.receipt-person{width: 98%;height:24px;margin:0px auto;}
.receipt-person li{width: 20%;height: 100%;font:16px/30px 微软雅黑;color: #333;float: left;}

/*数据ul列表*/
.data-list-box{width: 100%;overflow: hidden;}
.data-list-box li{cursor:pointer;width: 100%;overflow:hidden;font: 12px/32px 微软雅黑;color: #333;border-bottom: 1px solid #e1e1e1;}
.data-list-box li:hover{text-decoration: underline;}
.data-list-box li:last-child{border-bottom: none;}

/*高德地图*/
.amap-marker-label {border: 0;background-color: transparent;}
.amap-info-close{right: 5px !important;}
.marker-info-box {width: auto;height: auto;border-radius: 10px;background-color: #fff;}
.marker-info-box p {width: auto;height: 22px;font: 12px/22px 微软雅黑;color: #333;}
.marker-info-box p:first-child {font-weight: bold;}