<!doctype html>
<html>

	<head>
		<meta charset="utf-8">
		<title>邻客社区平台</title>
		<meta name="keywords" content="">
		<meta name="description" content="">
		<meta name="viewport" content="width=device-width,initial-scale=1, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
		<meta http-equiv="Pragma" content="no-cache">
		<meta http-equiv="Cache-Control" content="no-cache">
		<meta http-equiv="Expires" content="0">
		<link rel="shortcut icon" href="../img/logo.png" type="image/x-icon" />
		<link rel="stylesheet" href="../css/reset.css" />
		<link rel="stylesheet" href="../layui/css/layui.css" />
		<link rel="stylesheet" href="../css/common.css?v=ac68d45dc5" />
		<script src="../js/jquery-1.9.1.min.js"></script>
		<script src="../layui/layui.all.js"></script>
		<script src="../js/vue.min.js"></script>
		<script src="../js/postUrl.js?v=2f85f2877b"></script>
		<script src="../js/common.js?v=e0666996b7"></script>
	</head>

	<body>
		<div class="main-mask main-mask-bottom VDOM" v-cloak>
			<div class="con">
				<div class="mask-list">
					<div class="mask-list-name"><span>*</span><span class="text">专项名称</span>：</div>
					<div class="mask-list-value">
						<input type="text" name="" id="specialName" value="" class="required big len30" />
						<div class="mask-list-prompt">专项名称不超过30个字</div>
					</div>
				</div>
				<div class="mask-list">
					<div class="mask-list-name"><span>*</span><span class="text">专项编码</span>：</div>
					<div class="mask-list-value">
						<input type="text" name="" id="specialCode" value="" class="required regular-code" placeholder="填写字母和数字" />
					</div>
				</div>
				<div class="mask-list">
					<div class="mask-list-name"><span>*</span><span class="text">专项描述</span>：</div>
					<div class="mask-list-value">
						<input type="text" name="" id="specialDescription" value="" class="required big" />
					</div>
				</div>
				<div class="mask-list">
					<div class="mask-list-name"><span>*</span><span class="text">专项范围</span>：</div>
					<div class="mask-list-value">
						<div class="no-range-box" v-if="dataList.length == 0">暂无专项范围</div>
						<ul v-else class="range-box">
							<li v-for="(t,i) in dataList">
								{{t.standardName}}
								<div class="del-range" v-on:click="delRange(i);"></div>
							</li>
						</ul>
						<div class="btn icon icon-select" onclick="selectPart();">选择标准</div>
					</div>
				</div>
				<div class="mask-btn-box">
					<div class="btn-box">
						<div class="btn icon icon-save" onclick="edit();" id="creatsave">确定</div>
					</div>
				</div>
			</div>
	</body>
	<script>
		loadVue(param);

		//选择推送范围
		function selectPart() {
			openMask('', "selectCheckStandardRange", "选择专项范围", "98%", "98%", function(layerDom, layerIframe) {
				layerIframe[0].contentWindow.loadData(setData.dataList);
			})
		}

		//编辑
		function edit() {
			var checkI = checkInput();
			if(checkI == true) {
				var standardItems = [];
				var dataList = setData.dataList;
				for(var i = 0; i < dataList.length; i++) {
					standardItems.push(dataList[i].id);
				}
				if(standardItems.length == 0) {
					layer.msg("请选择专项范围");
					return false;
				}
				if(standardItems.length > 10) {
					layer.msg("专项范围不能超过10个标准");
					return false;
				}
				var param = {
					id: $(".main-mask").attr("data-id"),
					specialName: $("#specialName").val(),
					specialCode: $("#specialCode").val(),
					specialDescription: $("#specialDescription").val(),
					standardItems: standardItems
				};
				request('POST', '/property/checkSpecial/saveOrUpdate.do', param, true, function(res) {
					parent.layer.close(index);
					parent.layer.msg("操作成功");
				}, function(res) {
					if(res.code == "0004") {
						layer.msg("该专项已存在，请勿重复操作");
					} else {
						layer.msg('操作失败，请检查网络或重试');
					}
				})
			}
		}

		function loadCheckList(idList, callback) {
			if(idList) {
				var param = {
					idList: idList
				};
				request('POST', '/property/checkStandard/queryList.do', param, true, function(res) {
					setData.dataList = res.data;
					callback();
				}, function() {
					layer.msg("点位加载失败");
				})
			}
		}
	</script>

</html>