<!doctype html>
<html>

	<head>
		<meta charset="utf-8">
		<title>邻客社区平台</title>
		<meta name="keywords" content="">
		<meta name="description" content="">
		<meta name="viewport" content="width=device-width,initial-scale=1, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
		<meta http-equiv="Pragma" content="no-cache">
		<meta http-equiv="Cache-Control" content="no-cache">
		<meta http-equiv="Expires" content="0">
		<link rel="shortcut icon" href="../img/logo.png" type="image/x-icon" />
		<link rel="stylesheet" href="../css/reset.css" />
		<link rel="stylesheet" href="../css/common.css?v=ac68d45dc5" />
		<script src="../js/jquery-1.9.1.min.js"></script>
		<script src="../layui/layui.all.js"></script>
		<script src="../js/vue.min.js"></script>
		<script src="../js/postUrl.js?v=2f85f2877b"></script>
		<script src="../js/common.js?v=e0666996b7"></script>
	</head>

	<body>
		<div class="select-community VDOM" v-cloak>
			<div class="select-community-sreach-box">
				<div class="select-community-sreach-input-box">
					<input type="" name="" id="name" value="" placeholder="请输入小区名称" />
				</div>
				<div class="select-community-sreach-btn" onclick="sreach();">查询</div>
			</div>
			<div class="page" v-if="dataList.length > 0">此账号下拥有{{count}}个小区，请妥善操作</div>
			<div class="community-box">
				<div class="icon before" onclick="beforePage();"></div>
				<div class="icon next" onclick="nextPage();"></div>
				<div v-if="dataList.length == 0" class="community-no-data-box">您还没有小区呦</div>
				<div v-else class="community-list" v-for="t in dataList" v-on:click="selectCommunity(t)">
					<div class="community-coverImage">
						<img src="../img/logo.png" alt="../img/logo.png" />
					</div>
					<div class="community-name">{{t.name}}</div>
				</div>
			</div>
		</div>
	</body>
	<script>
		loadVue(param);

		function selectCommunity(obj) {
			var communityInfo = JSON.stringify(obj);
			window.localStorage.setItem("communityInfo", communityInfo);
			top.window.location.reload();
		}

		function loadData() {
			var param = {
				page: page,
				pageSize: "8",
				name: $("#name").val()
			};
			request('POST', '/property/community/queryList.do', param, true, function(res) {
				setData.dataList = res.data;
			}, function(res) {
				layer.msg("物业小区加载失败，请检查网络或重试");
			})
		}
		loadData();
	</script>

</html>