<!doctype html>
<html>

	<head>
		<meta charset="utf-8">
		<title>邻客社区平台</title>
		<meta name="keywords" content="">
		<meta name="description" content="">
		<meta name="viewport" content="width=device-width,initial-scale=1, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
		<meta http-equiv="Pragma" content="no-cache">
		<meta http-equiv="Cache-Control" content="no-cache">
		<meta http-equiv="Expires" content="0">
		<link rel="shortcut icon" href="../img/common/logo.png" type="image/x-icon" />
		<link rel="stylesheet" href="../css/reset.css" />
		<link rel="stylesheet" href="../css/common.css?v=1c1ac2354f" />
		<script src="../js/jquery-1.9.1.min.js"></script>
		<script src="../layui/layui.all.js"></script>
		<script src="../js/vue.min.js"></script>
		<script src="../js/postUrl.js?v=62b1256164"></script>
		<script src="../js/common.js?v=fab245d574"></script>
	</head>

	<body>
		<div class="select-community-box VDOM" v-cloak>
			<div class="select-community-inner-box">
				<div class="select-community-title">邻客社区平台</div>
				<div class="select-community-sreach-box">
					<div class="select-community-sreach-input-box">
						<input type="" name="" id="name" value="" placeholder="请输入小区名称" />
					</div>
					<div class="select-community-sreach-btn" onclick="sreach();"></div>
				</div>
				<div class="community-number">共{{count}}个小区，请妥善操作</div>
				<div class="community-list-box">
					<div v-bind:class="['icon', 'icon-left',currentPage == 1?'icon-disabled-left':'']" v-bind:onclick="currentPage == 1?'':'beforePage();'"></div>
					<div v-bind:class="['icon', 'icon-right',currentPage == totalPage?'icon-disabled-right':'']" v-bind:onclick="currentPage == totalPage?'':'nextPage();'"></div>
					<div class="community-list-inner-box">
						<div v-if="dataList.length == 0" class="community-no-data-box">未搜索到相关社区哦</div>
						<div v-else class="community-list" v-for="t in dataList" v-on:click="selectCommunity(t)">
							<div class="img-box"></div>
							<div class="community-name">{{t.name}}</div>
						</div>
					</div>
					<div class="pagination-box" v-if="totalPage > 1">
						<ul class="pagination-inner-box">
							<li v-for="(t,i) in totalPage" v-bind:class="i+1 == currentPage?'selected':''" v-on:click="clickJumpPage(i+1);"></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</body>
	<script>
		loadVue(param);

		function selectCommunity(obj) {
			var communityInfo = JSON.stringify(obj);
			window.localStorage.setItem("communityInfo", communityInfo);
			top.window.location.reload();
		}

		function loadData() {
			var param = {
				page: page,
				pageSize: "5",
				name: $("#name").val()
			};
			request('POST', '/property/community/queryList.do', param, true, function(res) {
				setData.dataList = res.data;
			}, function(res) {
				layer.msg("物业小区加载失败，请检查网络或重试");
			})
		}
		loadData();
	</script>

</html>