<!doctype html>
<html>

	<head>
		<meta charset="utf-8">
		<title>邻客社区平台</title>
		<meta name="keywords" content="">
		<meta name="description" content="">
		<meta name="viewport" content="width=device-width,initial-scale=1, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
		<meta http-equiv="Pragma" content="no-cache">
		<meta http-equiv="Cache-Control" content="no-cache">
		<meta http-equiv="Expires" content="0">
		<link rel="shortcut icon" href="../img/common/logo.png" type="image/x-icon" />
		<link rel="stylesheet" href="../css/reset.css" />
		<link rel="stylesheet" href="../layui/css/layui.css" />
		<link rel="stylesheet" href="../css/common.css?v=1c1ac2354f" />
		<script src="../js/jquery-1.9.1.min.js"></script>
		<script src="../layui/layui.all.js"></script>
		<script src='../js/qiniu/qiniu.min.js'></script>
		<script src='../js/qiniu/plupload.full.min.js'></script>
		<script src="../js/upload.js?v=fe0a473fcd"></script>
		<script src="../js/photoloadinit.js"></script>
		<script src="../js/photoload.js"></script>
		<script src="../js/vue.min.js"></script>
		<script src="../js/postUrl.js?v=62b1256164"></script>
		<script src="../js/common.js?v=fab245d574"></script>
	</head>

	<body>
		<div class="main-mask main-mask-bottom VDOM" v-cloak>
			<div class="con">
				<div class="mask-list">
					<div class="mask-list-name"><span class="text">员工头像</span>：</div>
					<div class="mask-list-value">
						<div class="img-box">
							<img src="" alt="" onerror="this.src='../img/common/no-img.png'" />
							<div class="btn icon icon-upload-img upload-img" id="ygimg">上传图片</div>
						</div>
						<div class="mask-list-prompt">支持pjpeg、jpeg、bmp、jpg、png格式<br/>图片大小不能超过2M</div>
					</div>
				</div>
				<div class="mask-list c_b">
					<div class="mask-list-name"><span>*</span><span class="text">员工姓名</span>：</div>
					<div class="mask-list-value">
						<input type="text" name="" id="name" value="" class="required" />
					</div>
				</div>
				<div class="mask-list">
					<div class="mask-list-name"><span class="text">员工工号</span>：</div>
					<div class="mask-list-value">
						<input type="text" name="" id="code" value="" />
					</div>
				</div>
				<div class="mask-list">
					<div class="mask-list-name"><span>*</span><span class="text">员工类型</span>：</div>
					<div class="mask-list-value">
						<select name="" id="isbutler" class="required" onchange="selectbutler(this);">
							<option value="">==请选择员工类型==</option>
							<option value="0">普通员工</option>
							<option value="1">物业管家</option>
						</select>
					</div>
				</div>
				<div class="mask-list">
					<div class="mask-list-name"><span class="text">职称</span>：</div>
					<div class="mask-list-value">
						<input type="text" name="" value="" id="title" />
					</div>
				</div>
				<div class="mask-list">
					<div class="mask-list-name"><span>*</span><span class="text">性别</span>：</div>
					<div class="mask-list-value">
						<select name="" id="gender" class="required">
							<option value="">==请选择性别==</option>
							<option value="0">男</option>
							<option value="1">女</option>
						</select>
					</div>
				</div>
				<div class="mask-list">
					<div class="mask-list-name"><span>*</span><span class="text">手机号</span>：</div>
					<div class="mask-list-value">
						<input type="text" name="" value="" id="telephone" class="required phone" />
						<div class="mask-list-prompt">手机号不能与其他员工相同</div>
					</div>
				</div>
				<div class="mask-list">
					<div class="mask-list-name"><span class="text">身份证号</span>：</div>
					<div class="mask-list-value">
						<input type="text" name="" value="" id="idNo" class="id-number" />
					</div>
				</div>
				<div class="mask-list">
					<div class="mask-list-name"><span class="text">定位SN码</span>：</div>
					<div class="mask-list-value">
						<input type="text" name="" value="" id="lbsDeviceSn" class="id-number" />
					</div>
				</div>
				<div class="mask-list">
					<div class="mask-list-name"><span>*</span><span class="text">所属部门</span>：</div>
					<div class="mask-list-value mask-list200">
						<input type="text" name="" value="" id="departmentName" disabled="disabled" class="required" />
						<input type="hidden" name="" value="" id="departmentId" class="required" />
					</div>
					<div class="btn icon icon-select" onclick="selectParam(0);">选择部门</div>
				</div>
				<div class="mask-list">
					<div class="mask-list-name"><span class="text">上级领导</span>：</div>
					<div class="mask-list-value mask-list200">
						<input type="text" name="" value="" id="parentName" disabled="disabled" />
						<input type="hidden" name="" value="" id="parentId" />
					</div>
					<div class="btn icon icon-select" onclick="selectParam(1);">选择上级</div>
				</div>
				<div class="mask-list">
					<div class="mask-list-name"><span>*</span><span class="text">职责范围</span>：</div>
					<div class="mask-list-value">
						<ul class="mask-select-list-box">
							<li v-for="t in dataList">
								<div v-bind:class="['no-check',t.checked?'checked':'']" v-on:click="setCheckBox(t);"></div>
								{{t.title}}
							</li>
						</ul>
					</div>
				</div>
				<div class="mask-list">
					<div class="mask-list-name"><span>*</span><span class="text">功能权限</span>：</div>
					<div class="mask-list-value">
						<ul class="mask-select-list-box">
							<li v-for="t in privilege">
								<div v-bind:class="['no-check',t.checked?'checked':'']" v-on:click="setCheckBox(t);"></div>
								{{t.title}}
							</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="mask-btn-box">
				<div class="btn-box">
					<div class="btn icon icon-save" onclick="edit();" id="creatsave">确定</div>
				</div>
			</div>
		</div>
	</body>
	<script>
		param.privilege = [];
		loadVue(param);

		function selectParam(flag) {
			if(flag == 0) {
				openMask('', "selectDepartment", "选择部门", "98%", "98%", function(layerDom, layerIframe) {
					var parentData = {
						departmentName: "departmentName",
						departmentId: "departmentId"
					}
					layerIframe[0].contentWindow.loadPage(1, function() {
						layerIframe[0].contentWindow.loadData(parentData);
					});
				})
			} else if(flag == 1) {
				openMask('', "selectStuff", "选择上级", "98%", "98%", function(layerDom, layerIframe) {
					var parentData = {
						stuffName: "parentName",
						stuffId: "parentId"
					}
					layerIframe[0].contentWindow.loadPage(1, function() {
						layerIframe[0].contentWindow.loadData(parentData);
					});
				})
			}
		}

		//		选择员工类型
		function selectbutler(t) {
			if($(t).val() == 0) {
				$("#title").val("");
				$("#title").removeAttr("disabled");
			} else if($(t).val() == 1) {
				$("#title").val("物业管家");
				$("#title").attr("disabled", "disabled");
			}
		}

		//编辑
		function edit() {
			var checkI = checkInput();
			if(checkI == true) {
				judeImg(function() {
					var param = {
						id: $(".main-mask").attr("data-id"),
						headimage: $("#ygimg").siblings("img").attr("src").split("?")[0].replace(imgUrl, ""),
						name: $("#name").val(),
						code: $("#code").val(),
						gender: $("#gender").val(),
						telephone: $("#telephone").val(),
						idNo: $("#idNo").val(),
						lbsDeviceSn: $("#lbsDeviceSn").val(),
						parentId: $("#parentId").val(),
						parentName: $("#parentName").val(),
						departmentId: $("#departmentId").val(),
						departmentName: $("#departmentName").val(),
						title: $("#title").val() ? $("#title").val() : "%str",
						dutyScope: JSON.stringify(setData.dataList),
						privilege: JSON.stringify(setData.privilege)
					};
					request('POST', '/account/stuff/saveOrUpdate.do', param, true, function(res) {
						parent.layer.close(index);
						parent.layer.msg("操作成功");
					}, function(res) {
						if(res.code == "0004") {
							layer.msg("该员工已存在，请勿重复操作");
						} else {
							layer.msg('操作失败，请检查网络或重试');
						}
					})
				})
			}
		}

		//		加载数据
		function loadDutyScope(dutyScope, privilege, callabck) {
			setData.dataList = dutyScope;
			setData.privilege = privilege;
			nextTick(function() {
				callabck();
			});
		}
	</script>

</html>