<!doctype html>
<html>

	<head>
		<meta charset="utf-8">
		<title>邻客社区平台</title>
		<meta name="keywords" content="">
		<meta name="description" content="">
		<meta name="viewport" content="width=device-width,initial-scale=1, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
		<meta http-equiv="Pragma" content="no-cache">
		<meta http-equiv="Cache-Control" content="no-cache">
		<meta http-equiv="Expires" content="0">
		<link rel="shortcut icon" href="../img/common/logo.png" type="image/x-icon" />
		<link rel="stylesheet" href="../css/reset.css" />
		<link rel="stylesheet" href="../layui/css/layui.css" />
		<link rel="stylesheet" href="../css/common.css?v=1c1ac2354f" />
		<script src="../js/jquery-1.9.1.min.js"></script>
		<script src="../layui/layui.all.js"></script>
		<script src="../js/vue.min.js"></script>
		<script src="../js/postUrl.js?v=62b1256164"></script>
		<script src="../js/common.js?v=fab245d574"></script>
	</head>

	<body>
		<div class="main-mask main-mask-bottom VDOM" v-cloak>
			<div class="con">
				<div class="mask-list">
					<div class="mask-list-name"><span>*</span><span class="text">报修对象</span>：</div>
					<div class="mask-list-value">
						<select name="" id="issueType" class="required" onchange="selectIssueType(this);">
							<option value="">==请选择报修对象==</option>
							<option value="2">设施</option>
							<option value="1">设备</option>
							<option value="0">其他</option>
						</select>
					</div>
				</div>
				<div class="mask-list">
					<div class="mask-list-name"><span>*</span><span class="text">原因类别</span>：</div>
					<div class="mask-list-value">
						<select name="" id="orderReason" class="required">
							<option value="">==请选择原因类别==</option>
							<option value="0">工程类</option>
							<option value="1">客服类</option>
							<option value="2">保洁类</option>
							<option value="3">绿化类</option>
							<option value="4">秩序类</option>
						</select>
					</div>
				</div>
				<div class="mask-list" v-if="issueType == '1'">
					<div class="mask-list-name"><span>*</span><span class="text">报修设备</span>：</div>
					<div class="mask-list-value">
						<input type="text" name="" value="" id="equipmentName" disabled="disabled" class="required" />
						<input type="hidden" name="" value="" id="equipmentId" />
					</div>
					<div class="btn icon icon-select" onclick="selectIssue(0);">选择设备</div>
				</div>
				<div class="mask-list" v-if="issueType == '2'">
					<div class="mask-list-name"><span>*</span><span class="text">报修设施</span>：</div>
					<div class="mask-list-value">
						<input type="text" name="" value="" id="facilityName" disabled="disabled" class="required" />
						<input type="hidden" name="" value="" id="facilityId" />
					</div>
					<div class="btn icon icon-select" onclick="selectIssue(1);">选择设施</div>
				</div>
				<div class="mask-list">
					<div class="mask-list-name"><span>*</span><span class="text">工单地址</span>：</div>
					<div class="mask-list-value" class="required">
						<input type="text" name="" id="orderAddress" value="" class="required big" />
					</div>
				</div>
				<div class="mask-list">
					<div class="mask-list-name"><span>*</span><span class="text">地址类型</span>：</div>
					<div class="mask-list-value">
						<select name="" id="addressType" class="required">
							<option value="">==请选择地址类型==</option>
							<option value="0">公共区域</option>
							<option value="1">非公共区域</option>
						</select>
					</div>
				</div>
				<div class="mask-list">
					<div class="mask-list-name"><span>*</span><span class="text">计划结束时间</span>：</div>
					<div class="mask-list-value">
						<input type="text" name="" id="scheduleEndTime" value="" class="required" placeholder="填写计划结束时间" />
					</div>
				</div>
				<div class="mask-list">
					<div class="mask-list-name"><span>*</span><span class="text">工单描述</span>：</div>
					<div class="mask-list-value">
						<textarea name="" rows="" cols="" class="required layer-edit-box" id="orderDetail"></textarea>
					</div>
				</div>
			</div>
			<div class="mask-btn-box">
				<div class="btn-box">
					<div class="btn icon icon-save" onclick="edit();" id="creatsave">确定</div>
				</div>
			</div>
		</div>
	</body>
	<script>
		$(function() {
			setTime('#scheduleEndTime', "datetime");
		})

		param.issueType = "";
		loadVue(param);

		function selectIssueType(t) {
			setData.issueType = $(t).val();
		}

		function selectIssue(flag) {
			if(flag == 0) {
				openMask('', "selectEquipment", "选择设备", "98%", "98%", function(layerDom, layerIframe) {
					var parentData = {
						equipmentName: "equipmentName",
						equipmentId: "equipmentId",
						orderAddress: "orderAddress"
					}
					layerIframe[0].contentWindow.loadPage(1, function() {
						layerIframe[0].contentWindow.loadData(parentData);
					});
				})
			} else if(flag == 1) {
				openMask('', "selectFacility", "选择设施", "98%", "98%", function(layerDom, layerIframe) {
					var parentData = {
						facilityName: "facilityName",
						facilityId: "facilityId",
						orderAddress: "orderAddress"
					}
					layerIframe[0].contentWindow.loadPage(1, function() {
						layerIframe[0].contentWindow.loadData(parentData);
					});
				})
			}
		}

		//编辑
		function edit() {
			var checkI = checkInput();
			if(checkI == true) {
				if($("#issueType").val() == "" || $("#issueType").val() == "0") {
					var issueId = "";
				} else if($("#issueType").val() == 1) {
					var issueId = $("#equipmentId").val();
				} else if($("#issueType").val() == 2) {
					var issueId = $("#facilityId").val();
				}
				var param = {
					id: $(".main-mask").attr("data-id"),
					orderType: "0",
					orderReason: $("#orderReason").val(),
					issueType: $("#issueType").val(),
					issueId: issueId,
					addressType: $("#addressType").val(),
					orderAddress: $("#orderAddress").val(),
					scheduleEndTime: $("#scheduleEndTime").val(),
					orderDetail: $("#orderDetail").val(),
				};
				request('POST', '/property/workOrder/create.do', param, true, function(res) {
					parent.layer.close(index);
					parent.layer.msg("操作成功");
				}, function(res) {
					layer.msg('操作失败，请检查网络或重试');
				})
			}
		}
	</script>

</html>