<!DOCTYPE html>
<html>

	<head>
		<title>商品保障</title>
		<meta charset="utf-8">
		<meta name="keywords" content="">
		<meta name="description" content="">
		<meta content="telephone=no" name="format-detection" />
		<meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
		<!-- No Baidu Siteapp-->
		<meta http-equiv="Cache-Control" content="no-siteapp" />
		<!-- Add to homescreen for Chrome on Android -->
		<meta name="mobile-web-app-capable" content="yes">
		<!-- Add to homescreen for Safari on iOS -->
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<link rel="shortcut icon" href="../../img/logo.png" type="image/x-icon" />
		<link rel="stylesheet" href="../../css/reset.css" />
		<link rel="stylesheet" href="../../css/app.css?v=9781d9f8c2" />
		<script src="../../js/jquery-1.9.1.min.js"></script>
		<script src="../../js/suitphone.js"></script>
		<script src="../../layui/layui.all.js"></script>
		<script src="../../js/vue.min.js"></script>
		<script src="../../js/postUrl.js?v=1c9fac12bd"></script>
		<script src="../../js/app.js?v=d3dccea598"></script>
	</head>

	<body>
		<div class="app VDOM" v-cloak>
			<div class="main">
				<ul class="guarantee-box">
					<li v-for="t in guarantee" v-if="t.checked == true">
						<div class="guarantee-dot"></div>
						<div class="guarantee-con">
							<div class="guarantee-name">{{t.title}}</div>
							<div class="guarantee-dir">{{t.dir}}</div>
						</div>
					</li>
				</ul>
			</div>
		</div>
	</body>
	<script>
		param.guarantee = {};
		loadVue(param);

		function loadData() {
			setData.guarantee = JSON.parse(decodeURIComponent(getQueryString("guarantee")));
		}
		loadData();
	</script>

</html>