<!doctype html>
<html>

	<head>
		<meta charset="utf-8">
		<title>邻客社区平台</title>
		<meta name="keywords" content="">
		<meta name="description" content="">
		<meta name="viewport" content="width=device-width,initial-scale=1, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
		<meta http-equiv="Pragma" content="no-cache">
		<meta http-equiv="Cache-Control" content="no-cache">
		<meta http-equiv="Expires" content="0">
		<link rel="shortcut icon" href="../img/common/logo.png" type="image/x-icon" />
		<link rel="stylesheet" href="../css/reset.css" />
		<link rel="stylesheet" href="../css/common.css?v=1c1ac2354f" />
		<script src="../js/jquery-1.9.1.min.js"></script>
		<script src="../layui/layui.all.js"></script>
		<script src="../js/vue.min.js"></script>
		<script src="../js/postUrl.js?v=62b1256164"></script>
		<script src="../js/common.js?v=fab245d574"></script>
	</head>

	<body>
		<div class="kjy-box kjy-flex-box VDOM" v-cloak>
			<div class="kjy-title-box">
				<div class="kjy-title-text">
					活动管理
				</div>
			</div>
			<div class="search-box">
				<div class="search-inner-box">
					<div class="search-text">
						<div class="search">
							<div class="search-name">活动名称：</div>
							<div class="search-value">
								<input type="text" name="" value="" id="name" placeholder="输入活动名称" />
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="btn-box">
				<div class="btn-inner-box">
					<div class="btn icon icon-reload" onclick="reloadPage();">刷新</div>
					<div class="btn icon icon-search" onclick="sreach();">查询</div>
					<div class="btn icon icon-add" onclick="showActivity(0,'','新建活动');">新建活动</div>
					<div class="btn icon icon-del" onclick="del();">删除</div>
				</div>
			</div>
			<div class="no-data-box" v-if="dataList.length == 0">
				<div class="no-data-inner-box">
					<div class="icon icon-no-data"></div>
					<div class="no-data-text">暂时没有活动哦</div>
				</div>
			</div>
			<div class="kjy-table" v-else>
				<table>
					<thead>
						<tr>
							<th class="padding20">
								<div v-bind:class="['no-check',allisActive?'checked':'']" v-on:click="selectAllData()"></div>序号</th>
							<th>活动名称</th>
							<th>活动人数（人）</th>
							<th>已报名人数（人）</th>
							<th>活动周期</th>
							<th>报名截止时间</th>
							<th>活动地点</th>
							<th>活动费用（元）</th>
							<th>联系人</th>
							<th>联系电话</th>
							<th>创建时间</th>
							<th>操作</th>
						</tr>
					</thead>

					<tbody id="tbody">
						<tr v-for="(t,i) in dataList">
							<td class="padding20">
								<div v-bind:class="['no-check',t.isActive?'checked':'']" v-on:click="selectOneData(t)"></div>{{((currentPage-1)*20)+(i+1)}}</td>
							<td>{{t.name}}</td>
							<td>{{t.availablePeople}}</td>
							<td>{{t.participatePeople}}</td>
							<td>{{t.beginTime}} 至 {{t.endTime}}</td>
							<td>{{t.deadLineTime}}</td>
							<td>{{t.address}}</td>
							<td>{{t.activityFee}}</td>
							<td>{{t.charger}}</td>
							<td>{{t.chargerTelephone}}</td>
							<td>{{t.createTime}}</td>
							<td>
								<div class="btn icon icon-edit" v-on:click="showActivity(1,t,'编辑活动')">编辑</div>
								<div class="btn icon icon-details" v-on:click="showActivityRecord(t)">报名详情</div>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="page-box"></div>
		</div>
	</body>
	<script>
		function showActivityRecord(obj) {
			openMask("", "activityRecord", obj.name + "报名详情", "100%", "100%", function(layerDom, layerIframe) {
				layerIframe[0].contentWindow.loadPage(0, function() {
					layerIframe[0].contentWindow.loadData(obj);
				});
			})
		}

		//新建或编辑
		function showActivity(flag, obj, title) {
			var timestamp = new Date().getTime();
			openMask(obj.id, "../part/activity", title, "650px", "460px", function(layerDom, layerIframe) {
				var tool = ['strong', 'italic', 'underline', 'del', 'left', 'center', 'right'];
				layerIframe[0].contentWindow.setlayui("detail", tool, function() {
					layerIframe[0].contentWindow.uploadImgInit(function() {
						layerDom.find("#imageUrl").siblings("img").attr("src", obj.imageUrl + "?timestamp=" + timestamp);
						layerDom.find("#name").val(obj.name);
						layerDom.find("#beginTime").val(obj.beginTime);
						layerDom.find("#endTime").val(obj.endTime);
						layerDom.find("#cancelable").val(obj.cancelable);
						layerDom.find("#availablePeople").val(obj.availablePeople);
						layerDom.find("#deadLineTime").val(obj.deadLineTime);
						layerDom.find("#address").val(obj.address);
						layerDom.find("#activityFee").val(obj.activityFee);
						layerDom.find("#charger").val(obj.charger);
						layerDom.find("#chargerTelephone").val(obj.chargerTelephone);
						layerDom.find(".layui-layedit iframe").contents().find("body").html(obj.detail);
						judeEdit(flag, layerDom);
					})
				})
			})
		}

		//删除数据
		function del() {
			delData("确定删除所选活动？", function(param) {
				request('POST', '/shop/activity/delete.do', param, true, function(res) {
					loadData();
					layer.closeAll('dialog');
				}, function(res) {
					layer.msg("删除失败，请检查网络或重试");
				})
			})
		}

		//		加载数据
		function loadData() {
			var param = {
				page: page,
				name: $("#name").val()
			};
			request('POST', '/shop/activity/queryList.do', param, true, function(res) {
				var dataList = res.data;
				for(var i = 0; i < dataList.length; i++) {
					dataList[i].isActive = false;
					dataList[i].activityFee = parseFloat(dataList[i].activityFee).toFixed(2);
					dataList[i].imageUrl = imgUrl + dataList[i].imageUrl;
				}
				setData.dataList = dataList;
				setData.allisActive = false;
			}, function(res) {
				layer.msg("活动加载失败");
			})
		}

		loadPage(0, function() {
			loadData();
		});
	</script>

</html>