<!doctype html>
<html>

	<head>
		<meta charset="utf-8">
		<title>邻客社区平台</title>
		<meta name="keywords" content="">
		<meta name="description" content="">
		<meta name="viewport" content="width=device-width,initial-scale=1, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
		<meta http-equiv="Pragma" content="no-cache">
		<meta http-equiv="Cache-Control" content="no-cache">
		<meta http-equiv="Expires" content="0">
		<link rel="shortcut icon" href="../img/common/logo.png" type="image/x-icon" />
		<link rel="stylesheet" href="../css/reset.css" />
		<link rel="stylesheet" href="../css/common.css?v=1c1ac2354f" />
		<script src="../js/jquery-1.9.1.min.js"></script>
		<script src="../layui/layui.all.js"></script>
		<script src="../js/vue.min.js"></script>
		<script src="../js/postUrl.js?v=62b1256164"></script>
		<script src="../js/common.js?v=fab245d574"></script>
	</head>

	<body>
		<div class="kjy-box kjy-flex-box VDOM" v-cloak>
			<div class="kjy-title-box">
				<div class="kjy-title-text">
					角色管理
				</div>
			</div>
			<div class="search-box">
				<div class="search-inner-box">
					<div class="search-text">
						<div class="search">
							<div class="search-name">角色名称：</div>
							<div class="search-value">
								<input type="text" name="" value="" id="name" placeholder="输入角色名称" />
							</div>
						</div>
						<div class="search">
							<div class="search-name">角色账号：</div>
							<div class="search-value">
								<input type="text" name="" value="" id="account" placeholder="输入角色账号" />
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="btn-box">
				<div class="btn-inner-box">
					<div class="btn icon icon-reload" onclick="reloadPage();">刷新</div>
					<div class="btn icon icon-search" onclick="sreach();">查询</div>
					<div class="btn icon icon-add" onclick="showAdministrator(0,'','新建角色')">新建角色</div>
				</div>
			</div>
			<div class="no-data-box" v-if="dataList.length == 0">
				<div class="no-data-inner-box">
					<div class="icon icon-no-data"></div>
					<div class="no-data-text">暂时没有角色哦</div>
				</div>
			</div>
			<div class="kjy-table" v-else>
				<table>
					<thead>
						<tr>
							<th>序号</th>
							<th>角色名称</th>
							<th>角色账号</th>
							<th>更新时间</th>
							<th>创建时间</th>
							<th>操作</th>
						</tr>
					</thead>
					<tbody id="tbody">
						<tr v-for="(t,i) in dataList">
							<td>{{((currentPage-1)*20)+(i+1)}}</td>
							<td>{{t.name}}</td>
							<td>{{t.account}}</td>
							<td>{{t.updateTime}}</td>
							<td>{{t.createTime}}</td>
							<td>
								<div v-if="t.su == 0" class="btn icon icon-del" v-on:click="del(t.id)">删除</div>
								<div class="btn icon icon-edit" v-on:click="showPart(0,t,'修改密码')">修改密码</div>
								<div v-if="t.su == 0" class="btn icon icon-privillege" v-on:click="showPart(1,t,'分配权限')">分配权限</div>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="page-box"></div>
		</div>
	</body>
	<script>
		//		更新权限
		function upDatePrivillege(obj, callback) {
			var p1 = accountInfo.privillege;
			var p2 = JSON.parse(obj.privillege);
			for(var i = 0; i < p1.length; i++) {
				p1[i].checked = false;
				var p1Csub = p1[i].csub;
				for(var a = 0; a < p1Csub.length; a++) {
					p1Csub[a].checked = false;
					for(var b = 0; b < p2.length; b++) {
						var p2Csub = p2[b].csub;
						if(p1[i].id == p2[b].id && p1[i].checked != p2[b].checked) {
							p1[i].checked = p2[b].checked;
						}
						for(var c = 0; c < p2Csub.length; c++) {
							if(p1Csub[a].id == p2Csub[c].id && p1Csub[a].checked != p2Csub[c].checked) {
								p1Csub[a].checked = p2Csub[c].checked
							}
						}
					}
				}
			}
			var param = {
				id: obj.id,
				account: obj.account,
				privillege: JSON.stringify(p1),
				pmcId: obj.pmcId
			};
			request('POST', '/account/administrator/saveOrUpdate.do', param, true, function(res) {
				callback(p1);
			}, function() {
				layer.msg('权限同步失败，请检查网络或重试');
			})
		}

		//新建或编辑
		function showAdministrator(flag, obj, title) {
			openMask("", "../part/administrator", title, "340px", "216px", function(layerDom, layerIframe) {
				judeEdit(flag, layerDom);
			})
		}

		//显示修改密码或者分配权限
		function showPart(flag, obj, title) {
			if(flag == 0) {
				openMask(obj.id, "../part/password", title, "340px", "294px", function(layerDom, layerIframe) {
					layerDom.find("#account").val(obj.account);
					judeEdit(1, layerDom);
				})
			} else if(flag == 1) {
				upDatePrivillege(obj, function(privillege) {
					openMask(obj.id, "../part/privillege", title, "100%", "100%", function(layerDom, layerIframe) {
						layerIframe[0].contentWindow.loadData(privillege, obj.account);
					})
				})
			}
		}
		//删除数据
		function del(id) {
			delOneData(id, "确定删除该角色？", function(param) {
				request('POST', '/account/administrator/delete.do', param, true, function(res) {
					loadData();
					layer.closeAll('dialog');
				}, function(res) {
					layer.msg("非管理员账号不能删除");
				})
			})
		}

		//		加载数据
		function loadData() {
			var param = {
				page: page,
				name: $("#name").val(),
				account: $("#account").val()
			};
			request('POST', '/account/administrator/queryList.do', param, true, function(res) {
				var dataList = res.data;
				for(var i = 0; i < dataList.length; i++) {
					dataList[i].isActive = false;
				}
				setData.dataList = dataList;
				setData.allisActive = false;
			}, function(res) {
				layer.msg("角色加载失败");
			})
		}

		loadPage(0, function() {
			loadData();
		});
	</script>

</html>