<!doctype html>
<html>

	<head>
		<meta charset="utf-8">
		<title>邻客社区平台</title>
		<meta name="keywords" content="">
		<meta name="description" content="">
		<meta name="viewport" content="width=device-width,initial-scale=1, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
		<meta http-equiv="Pragma" content="no-cache">
		<meta http-equiv="Cache-Control" content="no-cache">
		<meta http-equiv="Expires" content="0">
		<link rel="shortcut icon" href="../img/common/logo.png" type="image/x-icon" />
		<link rel="stylesheet" href="../css/reset.css" />
		<link rel="stylesheet" href="../css/common.css?v=1c1ac2354f" />
		<script src="../js/jquery-1.9.1.min.js"></script>
		<script src="../layui/layui.all.js"></script>
		<script src="../js/vue.min.js"></script>
		<script src="../js/postUrl.js?v=62b1256164"></script>
		<script src="../js/common.js?v=fab245d574"></script>
	</head>

	<body>
		<div class="kjy-box kjy-flex-box VDOM" v-cloak>
			<div class="kjy-title-box">
				<div class="kjy-title-text">
					点位管理
				</div>
			</div>
			<div class="search-box">
				<div class="search-inner-box">
					<div class="search-text">
						<div class="search">
							<div class="search-name">点位名称：</div>
							<div class="search-value">
								<input type="text" name="" value="" id="pointName" placeholder="输入点位名称" />
							</div>
						</div>
						<div class="search">
							<div class="search-name">点位编码：</div>
							<div class="search-value">
								<input type="text" name="" value="" id="pointCode" placeholder="输入点位编码" />
							</div>
						</div>
						<div class="search">
							<div class="search-name">点位状态：</div>
							<div class="search-value">
								<select name="" id="state" onchange="sreach();">
									<option value="">==请选择点位状态==</option>
									<option value="1">启用</option>
									<option value="0">禁用</option>
								</select>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="btn-box">
				<div class="btn-inner-box">
					<div class="btn icon icon-reload" onclick="reloadPage();">刷新</div>
					<div class="btn icon icon-search" onclick="sreach();">查询</div>
					<div class="btn icon icon-add" onclick="showCheckPoint(0,'','新建点位')">新建点位</div>
					<div class="btn icon icon-del" onclick="del();">删除</div>
				</div>
			</div>
			<div class="no-data-box" v-if="dataList.length == 0">
				<div class="no-data-inner-box">
					<div class="icon icon-no-data"></div>
					<div class="no-data-text">暂时没有检查点位哦</div>
				</div>
			</div>
			<div class="kjy-table" v-else>
				<table>
					<thead>
						<tr>
							<th class="padding20">
								<div v-bind:class="['no-check',allisActive?'checked':'']" v-on:click="selectAllData()"></div>序号</th>
							<th>点位名称</th>
							<th>点位编码</th>
							<th>点位状态</th>
							<th>操作</th>
						</tr>
					</thead>

					<tbody id="tbody">
						<tr v-for="(t,i) in dataList">
							<td class="padding20">
								<div v-bind:class="['no-check',t.isActive?'checked':'']" v-on:click="selectOneData(t)"></div>{{((currentPage-1)*20)+(i+1)}}</td>
							<td>{{t.pointName}}</td>
							<td>{{t.pointCode}}</td>
							<td>{{t.stateText}}</td>
							<td>
								<div class="btn icon icon-edit" v-on:click="showCheckPoint(1,t,'编辑点位')">编辑</div>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="page-box"></div>
		</div>
	</body>
	<script>
		//新建或编辑
		function showCheckPoint(flag, obj, title) {
			openMask(obj.id, "../part/checkPoint", title, "342px", "194px", function(layerDom, layerIframe) {
				layerDom.find("#pointName").val(obj.pointName);
				layerDom.find("#pointCode").val(obj.pointCode);
				layerDom.find("#state").val(obj.state);
				judeEdit(flag, layerDom);
			})
		}

		//删除数据
		function del() {
			delData("确定删除所选点位吗？", function(param) {
				request('POST', '/property/checkPoint/delete.do', param, true, function(res) {
					loadData();
					layer.closeAll('dialog');
				}, function(res) {
					layer.msg("删除失败，请检查网络或重试");
				})
			})
		}

		//		加载数据
		function loadData() {
			var param = {
				page: page,
				pointName: $("#pointName").val(),
				pointCode: $("#pointCode").val(),
				state: $("#state").val()
			};
			request('POST', '/property/checkPoint/queryList.do', param, true, function(res) {
				var dataList = res.data;
				for(var i = 0; i < dataList.length; i++) {
					dataList[i].isActive = false;
					if(dataList[i].state == 0) {
						dataList[i].stateText = "禁用"
					} else if(dataList[i].state == 1) {
						dataList[i].stateText = "启用"
					}
				}
				setData.dataList = dataList;
				setData.allisActive = false;
			}, function() {
				layer.msg("点位加载失败");
			})
		}

		loadPage(0, function() {
			loadData();
		});
	</script>

</html>