<!doctype html>
<html>

	<head>
		<meta charset="utf-8">
		<title>邻客社区平台</title>
		<meta name="keywords" content="">
		<meta name="description" content="">
		<meta name="viewport" content="width=device-width,initial-scale=1, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
		<meta http-equiv="Pragma" content="no-cache">
		<meta http-equiv="Cache-Control" content="no-cache">
		<meta http-equiv="Expires" content="0">
		<link rel="shortcut icon" href="../img/common/logo.png" type="image/x-icon" />
		<link rel="stylesheet" href="../css/reset.css" />
		<link rel="stylesheet" href="../css/common.css?v=1c1ac2354f" />
		<script src="../js/jquery-1.9.1.min.js"></script>
		<script src="../layui/layui.all.js"></script>
		<script src="../js/vue.min.js"></script>
		<script src="../js/postUrl.js?v=62b1256164"></script>
		<script src="../js/common.js?v=fab245d574"></script>
	</head>

	<body>
		<div class="kjy-box kjy-flex-box VDOM" v-cloak>
			<div class="kjy-title-box">
				<div class="kjy-title-text">
					标准检查管理
				</div>
			</div>
			<div class="search-box">
				<div class="search-inner-box">
					<div class="search-text">
						<div class="search">
							<div class="search-name">标准名称：</div>
							<div class="search-value">
								<input type="text" name="" value="" id="standardName" placeholder="输入标准名称" />
							</div>
						</div>
						<div class="search">
							<div class="search-name">标准编码：</div>
							<div class="search-value">
								<input type="text" name="" value="" id="standardCode" placeholder="输入标准编码" />
							</div>
						</div>
						<div class="search">
							<div class="search-name">检查类别：</div>
							<div class="search-value">
								<input type="text" name="" value="" id="checkCategoryName" placeholder="输入检查类别" />
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="btn-box">
				<div class="btn-inner-box">
					<div class="btn icon icon-reload" onclick="reloadPage();">刷新</div>
					<div class="btn icon icon-search" onclick="sreach();">查询</div>
					<div v-if="checkCategoryList.length > 0" class="btn icon icon-add" onclick="showCheckStandard(0,'','新建标准')">新建标准</div>
					<div class="btn icon icon-del" onclick="del();">删除</div>
				</div>
			</div>
			<div class="no-data-box" v-if="dataList.length == 0">
				<div class="no-data-inner-box">
					<div class="icon icon-no-data"></div>
					<div class="no-data-text">暂时没有标准检查哦</div>
				</div>
			</div>
			<div class="kjy-table" v-else>
				<table>
					<thead>
						<tr>
							<th class="padding20">
								<div v-bind:class="['no-check',allisActive?'checked':'']" v-on:click="selectAllData()"></div>序号</th>
							<th>标准名称</th>
							<th>标准编码</th>
							<th>标准描述</th>
							<th>检查类别</th>
							<th>操作</th>
						</tr>
					</thead>

					<tbody id="tbody">
						<tr v-for="(t,i) in dataList">
							<td class="padding20">
								<div v-bind:class="['no-check',t.isActive?'checked':'']" v-on:click="selectOneData(t)"></div>{{((currentPage-1)*20)+(i+1)}}</td>
							<td>{{t.standardName}}</td>
							<td>{{t.standardCode}}</td>
							<td>{{t.standardDescription}}</td>
							<td>{{t.checkCategoryName}}</td>
							<td>
								<div class="btn icon icon-edit" v-on:click="showCheckStandard(1,t,'编辑标准')">编辑</div>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="page-box"></div>
		</div>
	</body>
	<script>
		param.checkCategoryList = [];

		//新建或编辑
		function showCheckStandard(flag, obj, title) {
			openMask(obj.id, "../part/checkStandard", title, "640px", "460px", function(layerDom, layerIframe) {
				layerIframe[0].contentWindow.loadCheckPoints(obj.checkPointIds, function() {
					layerDom.find("#standardName").val(obj.standardName);
					layerDom.find("#standardCode").val(obj.standardCode);
					layerDom.find("#checkCategoryName").val(obj.checkCategoryName);
					layerDom.find("#checkCategoryId").val(obj.checkCategoryId);
					layerDom.find("#standardDescription").val(obj.standardDescription);
					judeEdit(flag, layerDom);
				})
			})
		}

		//删除数据
		function del() {
			delData("确定删除所选标准吗？", function(param) {
				request('POST', '/property/checkStandard/delete.do', param, true, function(res) {
					loadData();
					layer.closeAll('dialog');
				}, function(res) {
					layer.msg("删除失败，请检查网络或重试");
				})
			})
		}

		//		加载数据
		function loadData() {
			var param = {
				page: page,
				standardName: $("#standardName").val(),
				standardCode: $("#standardCode").val(),
				checkCategoryName: $("#checkCategoryName").val()
			};
			request('POST', '/property/checkStandard/queryList.do', param, true, function(res) {
				var dataList = res.data;
				for(var i = 0; i < dataList.length; i++) {
					dataList[i].isActive = false;
				}
				setData.dataList = dataList;
				setData.allisActive = false;
				loadCheckCategory();
			}, function() {
				layer.msg("标准检查加载失败");
			})
		}

		function loadCheckCategory() {
			var param = {}
			request('POST', '/property/checkCategory/queryList.do', param, true, function(res) {
				if(res.data.length == 0) {
					layer.msg("请先新建检查类别", {
						time: 2000
					}, function() {
						tabPage("7-0");
					});
				} else {
					setData.checkCategoryList = res.data;
				}
			}, function() {
				layer.msg("检查类别加载失败");
			})
		}

		loadPage(0, function() {
			loadData();
		});
	</script>

</html>