<!doctype html>
<html>

	<head>
		<meta charset="utf-8">
		<title>邻客社区平台</title>
		<meta name="keywords" content="">
		<meta name="description" content="">
		<meta name="viewport" content="width=device-width,initial-scale=1, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
		<meta http-equiv="Pragma" content="no-cache">
		<meta http-equiv="Cache-Control" content="no-cache">
		<meta http-equiv="Expires" content="0">
		<link rel="shortcut icon" href="../img/logo.png" type="image/x-icon" />
		<link rel="stylesheet" href="../css/reset.css" />
		<link rel="stylesheet" href="../css/common.css?v=ac68d45dc5" />
		<script src="../js/jquery-1.9.1.min.js"></script>
		<script src="../layui/layui.all.js"></script>
		<script src="../js/vue.min.js"></script>
		<script src="../js/postUrl.js?v=2f85f2877b"></script>
		<script src="../js/common.js?v=e0666996b7"></script>
	</head>

	<body>
		<div class="KJYBOX VDOM" v-cloak>
			<div class="kjy-title">客服管理</div>
			<div class="search-box">
				<div class="search-text">
					<div class="search">
						<div class="search-name">来访姓名：</div>
						<div class="search-value">
							<input type="text" name="" value="" id="accountName" placeholder="输入来访姓名" />
						</div>
					</div>
					<div class="search">
						<div class="search-name">来访手机号：</div>
						<div class="search-value">
							<input type="text" name="" value="" id="accountTelephone" placeholder="输入来访手机号" />
						</div>
					</div>
				</div>
			</div>
			<div class="btn-box">
				<div class="btn icon icon-reload" onclick="reloadPage();">刷新</div>
				<div class="btn icon icon-search" onclick="sreach();">查询</div>
				<div class="btn icon icon-del" onclick="del();">删除</div>
			</div>
			<div class="kjy-data-box">
				<div class="full-box" v-if="dataList.length == 0">
					<div class="no-data-box">
						<div class="icon icon-no-data"></div>
						<div class="no-data-text">暂时没有客服消息哦</div>
					</div>
				</div>
				<div class="kjy-table" v-else>
					<table>
						<thead>
							<tr>
								<th class="padding20">
									<div v-bind:class="['no-check',allisActive?'checked':'']" v-on:click="selectAllData()"></div>序号</th>
								<th>来访姓名</th>
								<th>来访手机号</th>
								<th>来访地址</th>
								<th>报修状态</th>
								<th>创建时间</th>
								<th>操作</th>
							</tr>
						</thead>

						<tbody id="tbody">
							<tr v-for="(t,i) in dataList">
								<td class="padding20">
									<div v-bind:class="['no-check',t.isActive?'checked':'']" v-on:click="selectOneData(t)"></div>{{((currentPage-1)*20)+(i+1)}}</td>
								<td>{{t.accountName}}</td>
								<td>{{t.accountTelephone}}</td>
								<td>{{t.reportAddress}}</td>
								<td>{{t.reportStateText}}</td>
								<td>{{t.createTime}}</td>
								<td>
									<div class="btn icon icon-add" v-on:click="showMaintenance('',t,'新建报修')">新建报修</div>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
			<div class="page-box"></div>
		</div>
	</body>
	<script>
		loadPage(function() {
			loadData();
		});

		function showMaintenance(flag, obj, title) {
			if(obj.reportState == "1") {
				layer.msg("已报修，请勿重复操作");
				return false;
			}
			openMask("", "../part/maintenance", title, "630px", "460px", function(layerDom, layerIframe) {
				layerDom.find("#accountName").val(obj.accountName);
				layerDom.find("#accountTelephone").val(obj.accountTelephone);
				layerDom.find("#reportAddress").val(obj.reportAddress);
				judeEdit(flag, layerDom);
			})
		}

		//删除数据
		function del() {
			delData("确定删除所选来电？", function(param) {
				request('POST', '/shop/activity/delete.do', param, true, function(res) {
					loadData();
					layer.closeAll('dialog');
				}, function(res) {
					layer.msg("删除失败，请检查网络或重试");
				})
			})
		}

		//		加载数据
		function loadData() {
			var dataList = [{
				id: "1",
				accountName: "康小源",
				accountTelephone: "15932119504",
				reportAddress: communityInfo.name + "1-1-101",
				reportState: "0",
				reportStateText: "未报修",
				createTime: "2019-06-07 10:00:00"
			}, {
				id: "2",
				accountName: "康小源",
				accountTelephone: "15932119504",
				reportAddress: communityInfo.name + "1-1-101",
				reportState: "1",
				reportStateText: "已报修",
				createTime: "2019-06-07 10:00:00"
			}]
			setData.dataList = dataList;
			setData.count = 2;
			setData.totalPage = 1;
			setData.currentPage = 1;
			setData.pageSize = 20;
			setData.dataLength = 2;
			//			var param = {
			//				page: page,
			//				accountName: $("#accountName").val(),
			//				accountTelephone: $("#accountTelephone").val()
			//			};
			//			request('POST', '/shop/activity/queryList.do', param,true, function(res) {
			//				var dataList = res.data;
			//				for(var i = 0; i < dataList.length; i++) {
			//					dataList[i].isActive = false;
			//					dataList[i].activityFee = parseFloat(dataList[i].activityFee).toFixed(2);
			//					dataList[i].imageUrl = imgUrl + dataList[i].imageUrl;
			//				}
			//				setData.dataList = dataList;
			//				setData.allisActive = false;
			//			}, function(res) {
			//				layer.msg("活动加载失败");
			//			})
		}
	</script>

</html>