<!doctype html>
<html>

	<head>
		<meta charset="utf-8">
		<title>邻客社区平台</title>
		<meta name="keywords" content="">
		<meta name="description" content="">
		<meta name="viewport" content="width=device-width,initial-scale=1, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
		<meta http-equiv="Pragma" content="no-cache">
		<meta http-equiv="Cache-Control" content="no-cache">
		<meta http-equiv="Expires" content="0">
		<link rel="shortcut icon" href="../img/common/logo.png" type="image/x-icon" />
		<link rel="stylesheet" href="../css/reset.css" />
		<link rel="stylesheet" href="../css/common.css?v=1c1ac2354f" />
		<script src="../js/jquery-1.9.1.min.js"></script>
		<script src="../layui/layui.all.js"></script>
		<script src="../js/vue.min.js"></script>
		<script src="../js/postUrl.js?v=62b1256164"></script>
		<script src="../js/common.js?v=fab245d574"></script>
	</head>

	<body>
		<div class="kjy-box kjy-flex-box VDOM" v-cloak>
			<div class="kjy-title-box">
				<div class="kjy-title-text">
					缴费项目管理
				</div>
			</div>
			<div class="search-box">
				<div class="search-inner-box">
					<div class="search-text">
						<div class="search">
							<div class="search-name">项目名称：</div>
							<div class="search-value">
								<input type="text" name="" value="" id="feeName" placeholder="输入项目名称" />
							</div>
						</div>
						<div class="search">
							<div class="search-name">项目属性：</div>
							<div class="search-value">
								<select name="" id="feeProperty" onchange="sreach();">
									<option value="">==请选择项目属性==</option>
									<option value="1">预付费</option>
									<option value="0">后付费</option>
								</select>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="btn-box">
				<div class="btn-inner-box">
					<div class="btn icon icon-reload" onclick="reloadPage();">刷新</div>
					<div class="btn icon icon-search" onclick="sreach();">查询</div>
				</div>
			</div>
			<div class="no-data-box" v-if="dataList.length == 0">
				<div class="no-data-inner-box">
					<div class="icon icon-no-data"></div>
					<div class="no-data-text">暂时没有缴费项目哦</div>
				</div>
			</div>
			<div class="kjy-table" v-else>
				<table>
					<thead>
						<tr>
							<th>序号</th>
							<th>项目名称</th>
							<th>项目属性</th>
							<th>计算公式</th>
							<th>计费单价（元）</th>
							<th>更新时间</th>
							<th>创建时间</th>
							<th>操作</th>
						</tr>
					</thead>

					<tbody id="tbody">
						<tr v-for="(t,i) in dataList">
							<td>{{((currentPage-1)*20)+(i+1)}}</td>
							<td>{{t.feeName}}</td>
							<td>{{t.feePropertyText}}</td>
							<td>{{t.calculateTypeText}}</td>
							<td>
								<input type="text" name="" disabled="disabled" v-bind:value="t.fee" class="fee" placeholder="填写数字" />
							</td>
							<td>{{t.updateTime}}</td>
							<td>{{t.createTime}}</td>
							<td>
								<div class="btn icon icon-edit" v-on:click="edit($event,t)">编辑</div>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="page-box"></div>
		</div>
	</body>
	<script>
		function edit(event, obj) {
			var ev = event.currentTarget;
			var fee = $(ev).parent().parent().find(".fee");
			if($(ev).text() == "编辑") {
				$(ev).addClass("icon-save").removeClass("icon-edit").text("保存");
				fee.removeAttr("disabled");
			} else {
				if(fee.val() == "") {
					layer.msg("计费单价 为必填项 请核对");
					return false;
				}
				if(!regular_num.test(fee.val())) {
					layer.msg("计费单价 格式错误 请核对");
					return false;
				}
				var param = {
					id: obj.id,
					feeName: obj.feeName,
					feeProperty: obj.feeProperty,
					calculateType: obj.calculateType,
					fee: fee.val()
				};
				request('POST', '/property/fee/saveOrUpdate.do', param, true, function(res) {
					loadData();
					$(ev).addClass("icon-edit").removeClass("icon-save").text("编辑");
					fee.attr("disabled", "disabled");
					layer.msg("操作成功");
				}, function(res) {
					layer.msg('操作失败，请检查网络或重试');
				})
			}
		}

		//		加载数据
		function loadData() {
			var param = {
				page: page,
				feeName: $("#feeName").val(),
				feeProperty: $("#feeProperty").val()
			};
			request('POST', '/property/fee/queryList.do', param, true, function(res) {
				var dataList = res.data;
				for(var i = 0; i < dataList.length; i++) {
					dataList[i].fee = parseFloat(dataList[i].fee).toFixed(2);
					if(dataList[i].calculateType == 0) {
						dataList[i].calculateTypeText = "自定义费用";
					} else if(dataList[i].calculateType == 1) {
						dataList[i].calculateTypeText = "单价*数量";
					}
					if(dataList[i].feeProperty == 0) {
						dataList[i].feePropertyText = "后付费";
					} else if(dataList[i].feeProperty == 1) {
						dataList[i].feePropertyText = "预付费";
					}
				}
				setData.dataList = dataList;
			}, function() {
				layer.msg("缴费项目加载失败");
			})
		}

		loadPage(0, function() {
			loadData();
		});
	</script>

</html>