<!doctype html>
<html>

	<head>
		<meta charset="utf-8">
		<title>邻客社区平台</title>
		<meta name="keywords" content="">
		<meta name="description" content="">
		<meta name="viewport" content="width=device-width,initial-scale=1, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
		<meta http-equiv="Pragma" content="no-cache">
		<meta http-equiv="Cache-Control" content="no-cache">
		<meta http-equiv="Expires" content="0">
		<link rel="shortcut icon" href="../img/common/logo.png" type="image/x-icon" />
		<link rel="stylesheet" href="../css/reset.css" />
		<link rel="stylesheet" href="../css/common.css?v=1c1ac2354f" />
		<script src="../js/jquery-1.9.1.min.js"></script>
		<script src="../layui/layui.all.js"></script>
		<script src="../js/jquery.table2excel.min.js"></script>
		<script src="../js/vue.min.js"></script>
		<script src="../js/postUrl.js?v=62b1256164"></script>
		<script src="../js/common.js?v=fab245d574"></script>
	</head>

	<body>
		<div class="kjy-box kjy-flex-box VDOM" v-cloak>
			<div class="kjy-title-box">
				<div class="kjy-title-text">
					线下缴费管理
				</div>
			</div>
			<div class="search-box">
				<div class="search-inner-box">
					<div class="search-text">
						<div class="search">
							<div class="search-name">支付人姓名：</div>
							<div class="search-value">
								<input type="text" name="" value="" id="payer" placeholder="输入支付人姓名" />
							</div>
						</div>
						<div class="search">
							<div class="search-name">操作员：</div>
							<div class="search-value">
								<input type="" name="" id="operator" value="" placeholder="输入操作员姓名" />
							</div>
						</div>
						<div class="search">
							<div class="search-name">缴费项目：</div>
							<div class="search-value">
								<input type="text" name="" value="" id="feeName" placeholder="输入缴费项目" />
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="btn-box">
				<div class="btn-inner-box">
					<div class="btn icon icon-reload" onclick="reloadPage();">刷新</div>
					<div class="btn icon icon-search" onclick="sreach();">查询</div>
					<div v-if="feeList.length > 0" class="btn icon icon-add" onclick="showFeeRecord(0,'','新建线下缴费');">新建线下缴费</div>
					<div class="btn icon icon-del" onclick="del();">删除</div>
					<div class="btn icon icon-export" onclick="exportFeeRecord();">导出</div>
				</div>
			</div>
			<div class="no-data-box" v-if="dataList.length == 0">
				<div class="no-data-inner-box">
					<div class="icon icon-no-data"></div>
					<div class="no-data-text">暂时没有线下缴费记录哦</div>
				</div>
			</div>
			<div class="kjy-table" v-else>
				<table id="feeRecord">
					<thead>
						<tr>
							<th class="padding20">
								<div v-bind:class="['no-check',allisActive?'checked':'']" v-on:click="selectAllData()"></div>序号</th>
							<th>缴费项目</th>
							<th>房屋地址</th>
							<th>支付人姓名</th>
							<th>支付人手机号</th>
							<th>缴费金额（元）</th>
							<th>操作员</th>
							<th>更新时间</th>
							<th>创建时间</th>
							<th>备注</th>
							<th>操作</th>
						</tr>
					</thead>

					<tbody id="tbody">
						<tr v-for="(t,i) in dataList">
							<td class="padding20">
								<div v-bind:class="['no-check',t.isActive?'checked':'']" v-on:click="selectOneData(t)"></div>{{((currentPage-1)*20)+(i+1)}}</td>
							<td>{{t.feeName}}</td>
							<td>{{t.payerAddress}}</td>
							<td>{{t.payer}}</td>
							<td>{{t.payerTelephone?t.payerTelephone:'暂无支付人手机号'}}</td>
							<td>{{t.fee}}</td>
							<td>{{t.operator}}</td>
							<td>{{t.updateTime}}</td>
							<td>{{t.createTime}}</td>
							<td>{{t.detail?t.detail:'暂无备注'}}</td>
							<td>
								<div class="btn icon icon-edit" v-on:click="showFeeRecord(1,t,'编辑线下缴费')">编辑</div>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="page-box"></div>
		</div>
	</body>
	<script>
		param.feeList = [];

		function exportFeeRecord() {
			var communityName = communityInfo.name;
			var dom = $("#feeRecord");
			var filename = communityName + "线下缴费记录";
			var columns = "10";
			exportExcel(dom, columns, filename);
		}

		//新建或编辑
		function showFeeRecord(flag, obj, title) {
			openMask(obj.id, "../part/feeRecord", title, "630px", "460px", function(layerDom, layerIframe) {
				layerDom.find("#feeId").val(obj.feeId);
				layerDom.find("#feeName").val(obj.feeName);
				layerDom.find("#payerAddress").val(obj.payerAddress);
				layerDom.find("#payer").val(obj.payer);
				layerDom.find("#payerTelephone").val(obj.payerTelephone);
				layerDom.find("#fee").val(obj.fee);
				layerDom.find("#operator").val(obj.operator);
				layerDom.find("#detail").val(obj.detail);
				judeEdit(flag, layerDom);
			})
		}

		//删除数据
		function del() {
			delData("确定删除所选线下缴费记录？", function(param) {
				request('POST', '/property/feeRecord/delete.do', param, true, function(res) {
					loadData();
					layer.closeAll('dialog');
				}, function(res) {
					layer.msg("删除失败，请检查网络或重试");
				})
			})
		}

		//		加载数据
		function loadData() {
			var param = {
				page: page,
				pageSize: '1000',
				feeName: $("#feeName").val(),
				payer: $("#payer").val(),
				operator: $("#operator").val()
			};
			request('POST', '/property/feeRecord/queryList.do', param, true, function(res) {
				var dataList = res.data;
				for(var i = 0; i < dataList.length; i++) {
					dataList[i].isActive = false;
					dataList[i].fee = parseFloat(dataList[i].fee).toFixed(2);
				}
				setData.dataList = dataList;
				setData.allisActive = false;
				loadFee();
			}, function() {
				layer.msg("线下缴费加载失败");
			})
		}

		function loadFee() {
			var param = {
				pageSize: "1000"
			}
			request('POST', '/property/fee/queryList.do', param, true, function(res) {
				var feeList = res.data;
				if(feeList.length == 0) {
					layer.msg("请先新建缴费项目", {
						time: 2000
					}, function() {
						tabPage('3-0');
					});
				} else {
					setData.feeList = feeList;
				}
			}, function() {
				layer.msg("缴费项目加载失败");
			})
		}

		loadPage(0, function() {
			loadData();
		});
	</script>

</html>