<!doctype html>
<html>

	<head>
		<meta charset="utf-8">
		<title>邻客社区平台</title>
		<meta name="keywords" content="">
		<meta name="description" content="">
		<meta name="viewport" content="width=device-width,initial-scale=1, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
		<meta http-equiv="Pragma" content="no-cache">
		<meta http-equiv="Cache-Control" content="no-cache">
		<meta http-equiv="Expires" content="0">
		<link rel="shortcut icon" href="../img/common/logo.png" type="image/x-icon" />
		<link rel="stylesheet" href="../css/reset.css" />
		<link rel="stylesheet" href="../css/common.css?v=1c1ac2354f" />
		<script src="../js/jquery-1.9.1.min.js"></script>
		<script src="../layui/layui.all.js"></script>
		<script src="../js/vue.min.js"></script>
		<script src="../js/postUrl.js?v=62b1256164"></script>
		<script src="../js/common.js?v=fab245d574"></script>
	</head>

	<body>
		<div class="kjy-box kjy-flex-box VDOM" v-cloak>
			<div class="kjy-title-box">
				<div class="kjy-title-text">
					点位管理
				</div>
			</div>
			<div class="search-box">
				<div class="search-inner-box">
					<div class="search-text">
						<div class="search">
							<div class="search-name">点位名称：</div>
							<div class="search-value">
								<input type="text" name="" value="" id="name" placeholder="输入点位名称" />
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="btn-box">
				<div class="btn-inner-box">
					<div class="btn icon icon-reload" onclick="reloadPage();">刷新</div>
					<div class="btn icon icon-search" onclick="sreach();">查询</div>
					<div class="btn icon icon-add" onclick="showPatrolPoint(0,'','新建点位')">新建点位</div>
					<div class="btn icon icon-del" onclick="del();">删除</div>
				</div>
			</div>
			<div class="no-data-box" v-if="dataList.length == 0">
				<div class="no-data-inner-box">
					<div class="icon icon-no-data"></div>
					<div class="no-data-text">暂时没有巡更点位哦</div>
				</div>
			</div>
			<div class="kjy-table" v-else>
				<table>
					<thead>
						<tr>
							<th class="padding20">
								<div v-bind:class="['no-check',allisActive?'checked':'']" v-on:click="selectAllData()"></div>序号</th>
							<th>点位名称</th>
							<th>点位地址</th>
							<th>经度</th>
							<th>纬度</th>
							<th>NFC编码</th>
							<th>备注</th>
							<th>操作</th>
						</tr>
					</thead>

					<tbody id="tbody">
						<tr v-for="(t,i) in dataList">
							<td class="padding20">
								<div v-bind:class="['no-check',t.isActive?'checked':'']" v-on:click="selectOneData(t)"></div>{{((currentPage-1)*20)+(i+1)}}</td>
							<td>{{t.name}}</td>
							<td>{{t.address}}</td>
							<td>{{t.longitude}}</td>
							<td>{{t.latitude}}</td>
							<td>{{t.nfcTag?t.nfcTag:'暂无NFC编码'}}</td>
							<td>{{t.remark?t.remark:'暂无备注'}}</td>
							<td>
								<div class="btn icon icon-edit" v-on:click="showPatrolPoint(1,t,'编辑点位')">编辑</div>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="page-box"></div>
		</div>
	</body>
	<script>
		//新建或编辑
		function showPatrolPoint(flag, obj, title) {
			openMask(obj.id, "../part/locationPoint", title, "660px", "460px", function(layerDom, layerIframe) {
				if(flag == 0) {
					var parentData = {
						longitude: communityInfo.longitude,
						latitude: communityInfo.latitude,
					}
				} else {
					var parentData = {
						longitude: obj.longitude,
						latitude: obj.latitude,
					}
				}
				layerIframe[0].contentWindow.setMap(parentData, function() {
					layerDom.find("#name").val(obj.name);
					layerDom.find("#nfcTag").val(obj.nfcTag);
					layerDom.find("#remark").val(obj.remark);
					judeEdit(flag, layerDom);
				})
			})
		}

		//删除数据
		function del() {
			delData("确定删除所选点位吗？", function(param) {
				request('POST', '/property/locationPoint/delete.do', param, true, function(res) {
					loadData();
					layer.closeAll('dialog');
				}, function(res) {
					layer.msg("删除失败，请检查网络或重试");
				})
			})
		}

		//		加载数据
		function loadData() {
			var param = {
				page: page,
				name: $("#name").val()
			};
			request('POST', '/property/locationPoint/queryList.do', param, true, function(res) {
				var dataList = res.data;
				for(var i = 0; i < dataList.length; i++) {
					dataList[i].isActive = false;
				}
				setData.dataList = dataList;
				setData.allisActive = false;
			}, function() {
				layer.msg("巡更点位加载失败");
			})
		}

		loadPage(0, function() {
			loadData();
		});
	</script>

</html>