<!doctype html>
<html>

	<head>
		<meta charset="utf-8">
		<title>邻客社区平台</title>
		<meta name="keywords" content="">
		<meta name="description" content="">
		<meta name="viewport" content="width=device-width,initial-scale=1, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
		<meta http-equiv="Pragma" content="no-cache">
		<meta http-equiv="Cache-Control" content="no-cache">
		<meta http-equiv="Expires" content="0">
		<link rel="shortcut icon" href="../img/common/logo.png" type="image/x-icon" />
		<link rel="stylesheet" href="../css/reset.css" />
		<link rel="stylesheet" href="../css/common.css?v=1c1ac2354f" />
		<script src="../js/jquery-1.9.1.min.js"></script>
		<script src="../layui/layui.all.js"></script>
		<script src="../js/vue.min.js"></script>
		<script src="../js/postUrl.js?v=62b1256164"></script>
		<script src="../js/common.js?v=fab245d574"></script>
	</head>

	<body>
		<div class="kjy-box kjy-flex-box VDOM" v-cloak>
			<div class="kjy-title-box">
				<div class="kjy-title-text">
					业主管理
				</div>
			</div>
			<div class="search-box">
				<div class="search-inner-box">
					<div class="search-text">
						<div class="search">
							<div class="search-name">业主姓名：</div>
							<div class="search-value">
								<input type="text" name="" value="" id="name" placeholder="输入业主姓名" />
							</div>
						</div>
						<div class="search">
							<div class="search-name">性别：</div>
							<div class="search-value">
								<select name="" id="gender" onchange="sreach();">
									<option value="">==请选择性别==</option>
									<option value="0">男</option>
									<option value="1">女</option>
								</select>
							</div>
						</div>
						<div class="search">
							<div class="search-name">手机号：</div>
							<div class="search-value">
								<input type="text" name="" value="" id="telephone" placeholder="输入手机号" />
							</div>
						</div>
						<div class="search">
							<div class="search-name">业主籍贯：</div>
							<div class="search-value">
								<input type="text" name="" value="" id="origin" placeholder="输入业主籍贯" />
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="btn-box">
				<div class="btn-inner-box">
					<div class="btn icon icon-reload" onclick="reloadPage();">刷新</div>
					<div class="btn icon icon-search" onclick="sreach();">查询</div>
					<div class="btn icon icon-add" onclick="showProprietor(0,'','新建业主')">新建业主</div>
					<div class="btn icon icon-del" onclick="del();">删除</div>
				</div>
			</div>
			<div class="no-data-box" v-if="dataList.length == 0">
				<div class="no-data-inner-box">
					<div class="icon icon-no-data"></div>
					<div class="no-data-text">暂时没有业主哦</div>
				</div>
			</div>
			<div class="kjy-table" v-else>
				<table>
					<thead>
						<tr>
							<th class="padding20">
								<div v-bind:class="['no-check',allisActive?'checked':'']" v-on:click="selectAllData()"></div>序号</th>
							<th>业主姓名</th>
							<th>性别</th>
							<th>手机号</th>
							<th>身份证号</th>
							<th>邮箱</th>
							<th>业主籍贯</th>
							<th>操作</th>
						</tr>
					</thead>

					<tbody id="tbody">
						<tr v-for="(t,i) in dataList">
							<td class="padding20">
								<div v-bind:class="['no-check',t.isActive?'checked':'']" v-on:click="selectOneData(t)"></div>{{((currentPage-1)*20)+(i+1)}}</td>
							<td>{{t.name}}</td>
							<td>{{t.gender?t.genderText:'暂无性别'}}</td>
							<td>{{t.telephone}}</td>
							<td>{{t.idNo?t.idNo:'暂无身份证号'}}</td>
							<td>{{t.email?t.email:'暂无邮箱'}}</td>
							<td>{{t.origin?t.origin:'暂无籍贯'}}</td>
							<td>
								<div class="btn icon icon-edit" v-on:click="showProprietor(1,t,'编辑业主')">编辑</div>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="page-box"></div>
		</div>
	</body>
	<script>
		//新建或编辑
		function showProprietor(flag, obj, title) {
			openMask(obj.id, "../part/proprietor", title, "350px", "312px", function(layerDom, layerIframe) {
				layerDom.find("#name").val(obj.name);
				layerDom.find("#gender").val(obj.gender);
				layerDom.find("#telephone").val(obj.telephone);
				layerDom.find("#email").val(obj.email);
				layerDom.find("#idNo").val(obj.idNo);
				layerDom.find("#origin").val(obj.origin);
				judeEdit(flag, layerDom);
			})
		}

		//删除数据
		function del() {
			delData("确定删除所选业主？", function(param) {
				request('POST', '/property/proprietor/delete.do', param, true, function(res) {
					loadData();
					layer.closeAll('dialog');
				}, function(res) {
					layer.msg("删除失败，请检查网络或重试");
				})
			})
		}

		//		加载数据
		function loadData() {
			var param = {
				page: page,
				name: $("#name").val(),
				gender: $("#gender").val(),
				telephone: $("#telephone").val(),
				origin: $("#origin").val()
			};
			request('POST', '/property/proprietor/queryList.do', param, true, function(res) {
				var dataList = res.data;
				for(var i = 0; i < dataList.length; i++) {
					dataList[i].isActive = false;
					if(dataList[i].gender == 0) {
						dataList[i].genderText = "男";
					} else if(dataList[i].gender == 1) {
						dataList[i].genderText = "女";
					}
				}
				setData.dataList = dataList;
				setData.allisActive = false;
			}, function() {
				layer.msg("业主加载失败");
			})
		}

		loadPage(0, function() {
			loadData();
		});
	</script>

</html>