<!doctype html>
<html>

	<head>
		<meta charset="utf-8">
		<title>邻客社区平台</title>
		<meta name="keywords" content="">
		<meta name="description" content="">
		<meta name="viewport" content="width=device-width,initial-scale=1, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
		<meta http-equiv="Pragma" content="no-cache">
		<meta http-equiv="Cache-Control" content="no-cache">
		<meta http-equiv="Expires" content="0">
		<link rel="shortcut icon" href="../img/logo.png" type="image/x-icon" />
		<link rel="stylesheet" href="../css/reset.css" />
		<link rel="stylesheet" href="../layui/css/layui.css" />
		<link rel="stylesheet" href="../css/common.css?v=ac68d45dc5" />
		<script src="../js/jquery-1.9.1.min.js"></script>
		<script src="../js/hls.min.js"></script>
		<script src="../layui/layui.all.js"></script>
		<script src="../js/vue.min.js"></script>
		<script src="../js/postUrl.js?v=2f85f2877b"></script>
		<script src="../js/common.js?v=e0666996b7"></script>
	</head>

	<body>
		<div class="KJYBOX VDOM" v-cloak>
			<div class="kjy-title">视频监控</div>
			<div class="search-box">
				<div class="search-text">
					<div class="search">
						<div class="search-name">监控点位：</div>
						<div class="search-value">
							<input type="text" name="" value="" id="name" placeholder="输入监控点位名称" />
						</div>
					</div>
				</div>
			</div>
			<div class="btn-box">
				<div class="btn icon icon-reload" onclick="reloadPage();">刷新</div>
				<div class="btn icon icon-search" onclick="sreach();">查询</div>
				<div class="btn icon icon-add" onclick="showVideoMaster(0,'','新建监控');">新建监控</div>
			</div>
			<div class="kjy-data-box">
				<div class="full-box" v-if="dataList.length == 0">
					<div class="no-data-box">
						<div class="icon icon-no-data"></div>
						<div class="no-data-text">暂时没有监控设备哦</div>
					</div>
				</div>
				<div class="matrix-box surveillance-matrix-box" v-else>
					<div class="matrix-list-box" v-for="t in dataList">
						<div class="matrix-list-inner-box box-shadow">
							<div class="video-box">
								<video v-bind:id="'video'+t.id" v-bind:src="t.videoUrl" controls="controls" autoplay="autoplay"></video>
								<ul class="video-direction-box hide-box">
									<li title="缩小焦距" data-command="aperturein" class="icon-narrow" v-on:click="videoOpera(4,$event,t);"></li>
									<li title="上" data-command="up" class="icon-direction-top" v-on:click="videoOpera(4,$event,t);"></li>
									<li title="放大焦距" data-command="apertureout" class="icon-enlarge" v-on:click="videoOpera(4,$event,t);"></li>
									<li title="左" data-command="left" class="icon-direction-left" v-on:click="videoOpera(4,$event,t);"></li>
									<li title="下" data-command="down" class="icon-direction-bottom" v-on:click="videoOpera(4,$event,t);"></li>
									<li title="右" data-command="right" class="icon-direction-right" v-on:click="videoOpera(4,$event,t);"></li>
								</ul>
								<ul class="opera-video-box">
									<li title="删除" class="icon-del" v-on:click="del(t.id);"></li>
									<li title="编辑" class="icon-edit" v-on:click="showVideoMaster(1,t,'编辑监控');"></li>
									<li title="云台控制" class="icon-cloud" v-on:click="videoOpera(3,$event,t);"></li>
									<li title="抓图" class="icon-img" v-on:click="videoOpera(2,$event,t);"></li>
									<li title="录像回放" class="icon-playback" v-on:click="videoOpera(1,$event,t);"></li>
									<li title="录像" v-bind:class="['icon-start-record',t.record != 0?'icon-stop-record':'']" v-on:click="videoOpera(0,$event,t);"></li>
								</ul>
							</div>
							<div class="matrix-content-box">
								<div class="matrix-content-text-box">
									<div class="matrix-title-text">[{{t.channel}}] {{t.name}}</div>
									<div v-bind:class="['matrix-type',t.online == 0?'matrix-type-disabled':'']">{{t.onlineText}}</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="page-box"></div>
		</div>
	</body>
	<script>
		param.channelCount = 0;
		loadPage();

		function videoOpera(flag, ev, obj) {
			var ev = event.currentTarget;
			if(flag == 0) {
				var param = {
					channel: obj.channel
				}
				if(obj.record == 0) {
					var requestUrl = "/api/v1/startrecord";
				} else if(obj.record == -1) {
					var requestUrl = "/api/v1/stoprecord";
				}
				easyNvrRequest("GET", requestUrl, param, true, function(res) {
					if(obj.record == 0) {
						layer.msg("录像已开始");
					} else if(obj.record == -1) {
						layer.msg("录像已停止");
					}
					loadData();
				}, function(res) {
					layer.msg("操作失败");
				});
			} else if(flag == 1) {
				openMask(obj.channel, "../part/videoRecord", "选择录像时间", "344px", "380px", function(layerDom, layerIframe) {
					judeEdit(0, layerDom);
				})
			} else if(flag == 2) {
				var imageUrl = easyNvrUrl + "/api/v1/getsnap?channel=" + obj.channel;
				window.top.open(imageUrl);
			} else if(flag == 3) {
				var videoDirectionBox = $(ev).parent().siblings(".video-direction-box");
				if(videoDirectionBox.css("display") == "block") {
					videoDirectionBox.hide();
				} else {
					videoDirectionBox.show();
				}
			} else if(flag == 4) {
				var param = {
					channel: obj.channel,
					command: $(ev).attr("data-command")
				}
				easyNvrRequest("GET", "/api/v1/ptzcontrol", param, true, function(res) {
					layer.msg("操作成功");
				}, function(res) {
					layer.msg("操作失败");
				})
			}
		}

		//删除数据
		function del(id) {
			delOneData(id, "确定删除该设备吗？", function(param) {
				request('POST', '/facility/surveillance/delete.do', param, true, function(res) {
					loadData();
					layer.closeAll('dialog');
				}, function(res) {
					layer.msg("删除失败，请检查网络或重试");
				})
			})
		}

		function showVideoMaster(flag, obj, title) {
			openMask(obj.id, "../part/surveillance", title, "338px", "344px", function(layerDom, layerIframe) {
				layerDom.find("#name").val(obj.name);
				layerDom.find("#code").val(obj.code);
				layerDom.find("#deviceType").val(obj.deviceType);
				layerDom.find("#location").val(obj.location);
				layerDom.find("#ipAddress").val(obj.ipAddress);
				layerDom.find("#loginName").val(obj.loginName);
				layerDom.find("#loginPassword").val(obj.loginPassword);
				judeEdit(flag, layerDom);
			})
		}

		//		加载数据
		function loadData() {
			var param = {
				page: page,
				name: $("#name").val()
			}
			request("POST", "/facility/surveillance/queryList.do", param, true, function(res) {
				var dataList = res.data;
				var videoList = [{
					id: "1",
					videoUrl: "/hls/channel1.m3u8"
				}, {
					id: "2",
					videoUrl: "/hls/channel2.m3u8"
				}, {
					id: "3",
					videoUrl: "/hls2/channel1.m3u8"
				}, {
					id: "4",
					videoUrl: "/hls2/channel2.m3u8"
				}];
				for(var i = 0; i < dataList.length; i++) {
					dataList[i].channel = i + 1;
					dataList[i].online = "1";
					dataList[i].onlineText = "在线";
					dataList[i].record = "0";
					dataList[i].videoUrl = easyNvrUrl + videoList[i].url;
				}
				setData.dataList = dataList;
				nextTick(function() {
					if(Hls.isSupported()) {
						for(var i = 0; i < dataList.length; i++) {
							var video = $("#video" + dataList[i].id);
							var hls = new Hls();
							hls.loadSource(dataList[i].videoUrl);
							hls.attachMedia(video);
							hls.on(Hls.Events.MANIFEST_PARSED, function() {
								video.play();
							});
						}
					}
				})
			}, function(res) {
				layer.msg("监控设备加载失败");
			});
		}
		loadData();
	</script>

</html>